- @page_title = t('.languages')

.page__actions
  = link_to t('.new_language'), new_admin_language_path, class: 'btn btn--new'

%table.languages-list
  %thead
    %tr
      %th= admin_order_by_link t('.iso_639_1_code'), 'iso639_1'
      %th= admin_order_by_link t('.name'), 'name'
      %th= admin_order_by_link t('.albums'), 'albums_count'
      %th= admin_order_by_link t('.articles'), 'articles_count'
      %th= admin_order_by_link t('.notes'), 'notes_count'
      %th= admin_order_by_link t('.projects'), 'projects_count'
      %th= admin_order_by_link t('.uploads'), 'uploads_count'
      %th

  %tbody
    - @languages.each do |language|
      %tr.language
        %td= language.iso639_1
        %td= language.name
        %td.is-counter= language.albums_count
        %td.is-counter= language.articles_count
        %td.is-counter= language.notes_count
        %td.is-counter= language.projects_count
        %td.is-counter= language.uploads_count
        %td.actions
          .btn-group
            = show_online_link language
            = admin_edit_link 'language', language
            = admin_destroy_link 'language', language

= paginate @languages
