- @page_title = "License: #{@license.name}"

.license.license--full
  %aside.details.always--inline
    %ul
      %li.separator
        %ul
          %li.detail
            = icon 'home'
            = link_to t('.home_page'), @license.url, target: '_blank', rel: 'noopener noreferrer'
          %li.detail
            = icon 'cut'
            = link_to t('.tl_dr'), @license.tldr_url, target: '_blank', rel: 'noopener noreferrer'

      %li.separator
        %ul
          %li.detail
            = icon 'amount'
            %strong= t('.albums_count')
            = @license.albums_count
          %li.detail
            = icon 'amount'
            %strong= t('.articles_count')
            = @license.articles_count
          %li.detail
            = icon 'amount'
            %strong= t('.notes_count')
            = @license.notes_count
          %li.detail
            = icon 'amount'
            %strong= t('.projects_count')
            = @license.projects_count
          %li.detail
            = icon 'amount'
            %strong= t('.uploads_count')
            = @license.uploads_count

  .content
    = render 'layouts/content_associations', is_section: true, entity: @license
