= form_for upload, url: upload.id ? member_upload_path : member_uploads_path do |f|
  - if upload.errors.any?
    .error
      %h2= t('.save_error', count: upload.errors.count)
      %ul
        - upload.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :title
    .field-input= f.text_field :title
  .field
    = f.label :description
    .field-input
      = f.text_area :description
      .field-hint= t('.markdown_preview_html',
                      preview_button: content_tag('a',
                        t('.preview'),
                        href: '#',
                        onclick: 'mdPreviewDescription(event)'))
  .field
    = f.label :file
    .field-input
      = f.file_field :file
      .field-hint= t('.online_viewable_formats',
                          formats: available_formats.join(', '))

  = render 'member/layouts/form_commons', form: f, entity: upload, has_albums: true

= render 'member/layouts/markdown-preview'

:javascript
  var descriptionCM = initializeCodeMirrorIn(document.getElementById('upload_description'))
  var mdPreviewDescription = createMDPreviewer(descriptionCM)
