- @page_title = t('.uploads')

.page__actions
  = link_to t('.new_upload'), new_member_upload_path, class: 'btn btn--new'

- if @uploads.length.zero?
  = render 'member/layouts/empty', link: new_member_upload_path
- else
  %table.uploads-list
    %thead
      %tr
        %th
        %th= member_order_by_link t('.title'), 'title'
        %th= member_order_by_link t('.sfw'), 'sfw'
        %th= member_order_by_link t('.pub'), 'published'
        %th= member_order_by_link t('.lock'), 'locked'
        %th= member_order_by_link t('.skip_hist'), 'hidden_in_history'
        %th= member_order_by_link t('.published_at'), 'published_at'
        %th= t('.language')
        %th= t('.license')
        %th= t('.albums')
        %th= t('.projects')
        %th= t('.tags')
        %th

    %tbody
      - @uploads.each do |upload|
        %tr.upload
          %td
            - if upload.file.representable?
              = image_tag thumbnail_center_crop(upload.file, :small),
                          class: 'thumbnail--small'
            - else
              = image_tag url_for(thumbnail_preview_placeholder_file), class: 'thumbnail--small'
          %td= upload.title
          %td.is-icon= colored_good_or_bad_icon_tag upload.sfw
          %td.is-icon= colored_good_or_bad_icon_tag upload.published
          %td.is-icon= colored_good_or_bad_icon_tag upload.locked, 'lock', 'unlock', true
          %td.is-icon= boolean_icon_tag upload.hidden_in_history
          %td= medium_datetime upload.published_at
          %td= upload.language.name
          %td
            = license_icon upload.license
            = upload.license.name
          %td.relations
            - upload.albums.each do |a|
              %span.album= a.name
          %td.relations
            - upload.projects.each do |p|
              %span.project= p.name
          %td.relations
            - upload.tags.each do |t|
              %span.tag= t.name
          %td
            .btn-group
              = member_action_links 'upload', upload

  = paginate @uploads
