- @page_title = t('.resend_confirmation_instructions')

.devise
  .devise__form
    .devise__form__wrapper
      = form_for(resource, as: resource_name, url: user_confirmation_path, html: { method: :post }) do |f|

        - if resource.errors.any?
          .error
            %h2= t('.send_error', count: resource.errors.count)
            %ul
              - resource.errors.full_messages.each do |message|
                %li= message

        .field
          = f.label :email
          .field-input= f.email_field :email,
                          autofocus: true,
                          autocomplete: 'email',
                          value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
        .actions
          = f.submit t('.resend_confirmation_instructions'), class: 'btn btn--primary btn--block'

  = render 'auth/shared/links'
