- if !show_item? note
  = render 'layouts/hidden_entry_inline', entity: note
- else
  %span.note.note--inline
    = icon 'note'
    = link_to t('.note_id', id: note.id), note
    - if note.language.iso639_1 != locale
      (#{note.language.iso639_1})
