- if !show_item? @note
  - @page_title = t('.content_not_displayed')
  = render 'layouts/hidden_entry_full', entity: @note
- else
  - @page_title = t('.a_note')
  .note.note--full
    %aside.details
      = render 'layouts/content_full_details', entity: @note

    .content
      %article{ lang: @note.language.iso639_1 }
        = render_entity_content @note, :content

  = render 'comments/comments',
            entity: @note,
            new_comment: @new_comment,
            url: note_create_comment_path(@note)
