<%
title            = t('.title', type: t('.note'), title: @note.published_at)
username         = @note.user.display_name
publication_date = @note.published_at
has_update       = @note.published_at < @note.updated_at

if params[:md_format] == 'pandoc' %>
% <%= title %>
% <%= username %>
% <%= publication_date %>

<% else %>
# <%= title %>

- **<%= t('.author') %>** <%= username %>
- **<%= t('.published_at') %>** <%= publication_date %>
<% end %>
<% if has_update %>
- **<%= t('.updated_at') %>** <%= @note.updated_at %>
<% end %>
- **<%= t('.language') %>** <%= @note.language.name %>
- **<%= t('.license') %>** [<%= @note.license.name %>](<%= @note.license.url %>)
- **<%= t('.projects') %>**
<% @note.projects.each do |project| %>
  - [<%= project.name %>](<%= project_url(project) %>)
<% end %>
- **<%= t('.tags') %>** <% @note.tags.each do |tag| %><%= tag.name %>, <% end %>
- **<%= t('.original_url') %>** <%= note_url(@note) %>
- **<%= t('.sfw') %>** <%= @note.sfw ? t('yes') : t('no') %>

---

<%= @note.content %>
