- @page_title = t('.albums')

%table.albums-list
  %thead
    %tr
      %th= admin_order_by_link t('.name'), 'name'
      %th= admin_order_by_link t('.sfw'), 'sfw'
      %th= admin_order_by_link t('.pub'), 'published'
      %th= admin_order_by_link t('.lock'), 'locked'
      %th= admin_order_by_link t('.skip_hist'), 'hidden_in_history'
      %th= admin_order_by_link t('.published_at'), 'published_at'
      %th= t('.user')
      %th= t('.license')
      %th= t('.language')
      %th= admin_order_by_link t('.uploads'), 'uploads_count'
      %th= t('.projects')
      %th= t('.tags')
      %th

  %tbody
    - @albums.each do |album|
      %tr.album
        %td= album.name
        %td.is-icon= colored_good_or_bad_icon_tag album.sfw
        %td.is-icon= colored_good_or_bad_icon_tag album.published
        %td.is-icon= colored_good_or_bad_icon_tag album.locked, 'lock', 'unlock', true
        %td.is-icon= boolean_icon_tag album.hidden_in_history
        %td= medium_datetime album.published_at
        %td= album.user.username
        %td= album.license.name
        %td= album.language.name
        %td.is-counter= album.uploads_count
        %td.relations
          - album.projects.each do |p|
            %span.project= p.name
        %td.relations
          - album.tags.each do |t|
            %span.tag= t.name
        %td.actions
          .btn-group
            = admin_action_links 'album', album

= paginate @albums
