.comments-area
  = render 'comments/form', url: url, new_comment: new_comment, entity: entity

  %section.comments-list
    - if user_is_author_of entity
      %h2= t('.comments')
      - if entity.comments.count.zero?
        .empty
          = t('.no_comment')
      - entity.comments.each do |comment|
        .comment.comment-card{ class: comment.archived ? 'comment-card--archived' : '' }
          %header
            .headers
              %ul.information
                %li
                  .btn-group
                    = member_destroy_link 'comment', comment
                    - if comment.archived
                      %a.btn.btn--small{ disabled: true }= icon 'archive'
                    - else
                      = link_to icon('archive'),
                                member_comment_archive_path(comment), method: :put, class: 'btn btn--small btn--primary'
                %li
                  = icon 'user'
                  = comment.name || link_to(comment.user.display_name, comment.user)
                %li
                  = icon 'calendar'
                  %strong= t('.posted_on')
                  = medium_datetime comment.created_at
          %article= render_entity_content comment, :comment, false

