-# You must provide an url for the form

- unless user_is_author_of(entity)
  %h2= t('.leave_a_comment')

  %p= t('.comment_intro')

  .alert.alert--info
    %p= t('.comments_are_private')
    %p= t('.your_infos_are_private')

  = form_for new_comment, url: url do |f|
    - if new_comment.errors.any?
      .error
        %h2= t('.save_error', count: new_comment.errors.count)
        %ul
          - new_comment.errors.full_messages.each do |message|
            %li= message

    - if user_signed_in?
      .alert.alert--info
        = t('.comment_posted_as',
          name: current_user.username)
    - else
      .field
        = f.label :name
        .field-input= f.text_field :name, required: true
      .field
        = f.label :email
        .field-input= f.text_field :email, required: true, type: :email
      .field
        .field-input
          = f.check_box :allow_contact
          = f.label :allow_contact, t('.i_agree_to_be_recontacted')
    .field
      = f.label :comment
      .field-input= f.text_area :comment, required: true, class: 'textarea--large'

    = render 'layouts/form_honeypot', field: 'body'

    .actions
      .actions-buttons
        = f.submit 'Save', class: 'btn btn--save'
