- @page_title = t('.articles')

%table.articles-list
  %thead
    %tr
      %th= admin_order_by_link t('.title'), 'title'
      %th= admin_order_by_link t('.sfw'), 'sfw'
      %th= admin_order_by_link t('.pub'), 'published'
      %th= admin_order_by_link t('.lock'), 'locked'
      %th= admin_order_by_link t('.skip_hist'), 'hidden_in_history'
      %th= admin_order_by_link t('.published_at'), 'published_at'
      %th= t('.user')
      %th= t('.license')
      %th= t('.language')
      %th= t('.projects')
      %th= t('.tags')
      %th

  %tbody
    - @articles.each do |article|
      %tr.article
        %td= article.title
        %td.is-icon= colored_good_or_bad_icon_tag article.sfw
        %td.is-icon= colored_good_or_bad_icon_tag article.published
        %td.is-icon= colored_good_or_bad_icon_tag article.locked, 'lock', 'unlock', true
        %td.is-icon= boolean_icon_tag article.hidden_in_history
        %td= medium_datetime article.published_at
        %td= article.user.username
        %td= article.license.name
        %td= article.language.name
        %td.relations
          - article.projects.each do |p|
            %span.project= p.name
        %td.relations
          - article.tags.each do |t|
            %span.tag= t.name
        %td.actions
          .btn-group
            = admin_action_links 'article', article

= paginate @articles
