= render 'layouts/shortcodes/widgets/vue/github_repo_card_vue'
= render 'layouts/shortcodes/widgets/vue/github_user_card_vue'
= render 'layouts/shortcodes/widgets/vue/gitlab_repo_card_vue'
= render 'layouts/shortcodes/widgets/vue/gitlab_user_card_vue'
= render 'layouts/shortcodes/widgets/vue/gitlab_group_card_vue'
