%script{ type: 'text/x-template', id: 'template-gitlab-user-card' }
  .gitlab-card.gitlab-card--user{ 'v-if': 'ready && !failed' }
    .icon.icon--avatar
      = icon 'gitlab', ['avatar-badge'], pack: 'fab'
      %img.avatar{ ':src': 'user.avatar_url' }
    .content
      %h2
        %a{ ':href': 'user.web_url', target: '_blank' } {{user.name}}
        %small (#{t('.user_on_link', user: '{{user.username}}', link: '{{url.site}}')})
      .infos
        %div{ 'v-if': 'user.website_url' }
          = icon 'home'
          %a{ ':href': 'user.website_url', target: '_blank' }= t('.home_page')
        %div
          = icon_text 'album', t('.public_repos')
          {{repos.length}}
  .gitlab-card{ 'v-else-if': 'failed', ':disabled': 'failed' }
    .alert.alert--warning
      = icon_text 'bug', t('.gitlab_user_fetch_error')
  .gitlab-card{ 'v-else': '' }
    .icon.icon--avatar
      = icon 'gitlab', ['avatar-badge'], pack: 'fab'
      = icon 'user', %w[3x avatar]
    .alert
      = icon_text 'spinner', t('.loading_from_gitlab'), ['pulse']

:javascript
  function gitlabUserCard (url, targetElement) {
    return new Vue({
      name: 'GitlabUserCardWidget',
      template: '#template-gitlab-user-card',
      el: document.getElementById(targetElement),
      data: function () {
        return {
          userReady: false,
          reposReady: false,
          failed: false,
          url: url,
          user: {},
          repos: {},
        }
      },
      computed: {
        ready: function(){
          return this.userReady && this.reposReady
        }
      },
      created () {
        var that = this
        // Find the id first
        fetch('https://' + this.url.site + '/api/v4/users?username=' + encodeURIComponent(url.user), {method: 'GET'})
          .then(function (res) {
            if(res.ok){
              res.json().then(function (data) {
                if(data.length === 1){
                  // Find user data
                  fetch('https://' + that.url.site + '/api/v4/users/' + data[0].id, {method: 'GET'})
                    .then(function (res) {
                      if(res.ok){
                        res.json().then(function (data) {
                          that.user = data
                          that.userReady = true
                        })
                      } else {
                        that.failed = true
                      }
                    })
                    .catch(function (err) {
                      that.failed = true
                    })
                  // User projects
                  fetch('https://' + that.url.site + '/api/v4/users/' + data[0].id + '/projects', {method: 'GET'})
                    .then(function (res) {
                      if(res.ok){
                        res.json().then(function (data) {
                          that.repos = data
                          that.reposReady = true
                        })
                      } else {
                        that.failed = true
                      }
                    })
                    .catch(function (err) {
                      that.failed = true
                    })
                } else {
                  that.failed = true
                }
              })
            } else {
              that.failed = true
            }
          })
          .catch(function (res) {
            that.failed = true
          })
      }
    })
  }
