%script{ type: 'text/x-template', id: 'template-gitlab-group-card' }
  .gitlab-card.gitlab-card--group{ 'v-if': 'ready && !failed' }
    .icon.icon--avatar
      = icon 'gitlab', ['avatar-badge'], pack: 'fab'
      %img.avatar{ ':src': 'group.avatar_url' }
    .content
      %h2
        %a{ ':href': 'group.web_url', target: '_blank' } {{group.name}}
        %small (#{t('.group_on_link', link: '{{url.site}}')})
      .infos
        %div{ 'v-if': 'group.website_url' }
          = icon 'home'
          %a{ ':href': 'group.website_url', target: '_blank' }= t('.home_page')
        %div
          = icon_text 'album', t('.public_repos')
          {{group.projects.length}}
        %div
          = icon_text 'album', t('.shared_repositories')
          {{group.shared_projects.length}}
      %pre.description{ 'v-if': 'group.description' } {{group.description}}
  .gitlab-card{ 'v-else-if': 'failed', ':disabled': 'failed' }
    .alert.alert--warning
      = icon_text 'bug', t('.gitlab_group_error')
  .gitlab-card{ 'v-else': '' }
    .icon.icon--avatar
      = icon 'gitlab', ['avatar-badge'], pack: 'fab'
      = icon 'group', ['avatar']
    .alert
      = icon_text 'spinner', t('.loading_from_gitlab'), ['pulse']

:javascript
  function gitlabGroupCard (url, targetElement) {
    return new Vue({
      name: 'GitlabGroupCardWidget',
      template: '#template-gitlab-group-card',
      el: document.getElementById(targetElement),
      data: function () {
        return {
          ready: false,
          reposReady: true,
          failed: false,
          url: url,
          group: {},
        }
      },
      created () {
        var that = this
        fetch('https://' + this.url.site + '/api/v4/groups/' + encodeURIComponent(url.groupName), {method: 'GET'})
          .then(function (res) {
            if(res.ok){
              res.json().then(function (data) {
                that.group = data
                that.ready = true
              })
            } else {
              that.failed = true
            }
          })
          .catch(function (res) {
            that.failed = true
          })
      }
    })
  }
