- if !show_item? article
  = render 'layouts/hidden_entry_inline', entity: article
- else
  %span.article.article--inline
    = icon 'article'
    = link_to article.title, article, lang: article.language.iso639_1
    - if article.language.iso639_1 != locale
      (#{article.language.iso639_1})
