<%
title            = t('.title', type: t('.article'), title: @article.title)
username         = @article.user.display_name
publication_date = @article.published_at
has_update       = @article.published_at < @article.updated_at

if params[:md_format] == 'pandoc' %>
% <%= title %>
% <%= username %>
% <%= publication_date %>

<% else %>
# <%= title %>

- **<%= t('.author') %>** <%= username %>
- **<%= t('.published_at') %>** <%= publication_date %>
<% end %>
<% if has_update %>
- **<%= t('.updated_at') %>** <%= @article.updated_at %>
<% end %>
- **<%= t('.language') %>** <%= @article.language.name %>
- **<%= t('.license') %>** [<%= @article.license.name %>](<%= @article.license.url %>)
- **<%= t('.projects') %>**
<% @article.projects.each do |project| %>
  - [<%= project.name %>](<%= project_url(project) %>)
<% end %>
- **<%= t('.tags') %>** <% @article.tags.each do |tag| %><%= tag.name %>, <% end %>
- **<%= t('.original_url') %>** <%= article_url(@article) %>
- **<%= t('.sfw') %>** <%= @article.sfw ? t('yes') : t('no') %>

---

<%= @article.excerpt %>

<%= @article.content %>
