- if !show_item? @article
  - @page_title = t('.content_not_displayed')
  = render 'layouts/hidden_entry_full', entity: @article
- else
  - @page_title = @article.title
  .article.article--full
    %aside.details
      = render 'layouts/content_full_details', entity: @article

    .content
      %article{ lang: @article.language.iso639_1 }
        = render_entity_content @article, :excerpt
        = render_entity_content @article, :content

  = render 'comments/comments',
            entity: @article,
            new_comment: @new_comment,
            url: article_create_comment_path(@article)
