= form_for project, url: project.id ? member_project_path : member_projects_path do |f|
  - if project.errors.any?
    .error
      %h2= t('.save_error', count: project.errors.count)
      %ul
        - project.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    .field-input= f.text_field :name
  .field
    = f.label :logo
    .field-input
      = f.file_field :logo, accept: '.gif,.jpg,.jpeg,.png,.webp'
      .field_hint= t('.help_logo')
  .field
    = f.label :short_description
    .field-input
      = f.text_field :short_description
      .field-hint= t('.markdown_preview_html',
                      preview_button: content_tag('a',
                        t('.preview'),
                        href: '#',
                        onclick: 'mdPreviewShortDescription(event)'))
  .field
    = f.label :description
    .field-input
      = f.text_area :description
      .field-hint= t('.markdown_preview_html',
                      preview_button: content_tag('a',
                        t('.preview'),
                        href: '#',
                        onclick: 'mdPreviewDescription(event)'))
  .field
    = f.label :main_url
    .field-input= f.text_field :main_url
  .field
    = f.label :sources_url
    .field-input= f.text_field :sources_url
  .field
    = f.label :docs_url
    .field-input= f.text_field :docs_url

  = render 'member/layouts/form_commons', form: f, entity: project, has_projects: false

= render 'member/layouts/markdown-preview'

:javascript
  var shortDescriptionCM = initializeCodeMirrorIn(document.getElementById('project_short_description'))
  shortDescriptionCM.setOption('maxLength', 255)
  shortDescriptionCM.on('beforeChange', limitCMToLength)
  var descriptionCM = initializeCodeMirrorIn(document.getElementById('project_description'))
  var mdPreviewShortDescription = createMDPreviewer(shortDescriptionCM)
  var mdPreviewDescription = createMDPreviewer(descriptionCM)
