- @page_title = t('.projects')

.page__actions
  = link_to t('.new_project'), new_member_project_path, class: 'btn btn--new'

- if @projects.length.zero?
  = render 'member/layouts/empty', link: new_member_project_path
- else
  %table.projects-list
    %thead
      %tr
        %th= t('.logo')
        %th= member_order_by_link t('.name'), 'name'
        %th= member_order_by_link t('.main_url'), 'main_url'
        %th= member_order_by_link t('.sfw'), 'sfw'
        %th= member_order_by_link t('.pub'), 'published'
        %th= member_order_by_link t('.lock'), 'locked'
        %th= member_order_by_link t('.skip_hist'), 'hidden_in_history'
        %th= member_order_by_link t('.published_at'), 'published_at'
        %th= t('.license')
        %th= t('.language')
        %th= member_order_by_link t('.albums'), 'albums_count'
        %th= member_order_by_link t('.articles'), 'articles_count'
        %th= member_order_by_link t('.notes'), 'notes_count'
        %th= member_order_by_link t('.uploads'), 'uploads_count'
        %th= t('.tags')
        %th

    %tbody
      - @projects.each do |project|
        %tr.project
          %td
            - if project.logo.attached?
              = image_tag avatar_image(project.logo, :tiny)
          %td= project.name
          %td= link_to project.main_url, project.main_url, target: '_blank', rel: 'noopener noreferrer'
          %td.is-icon= colored_good_or_bad_icon_tag project.sfw
          %td.is-icon= colored_good_or_bad_icon_tag project.published
          %td.is-icon= colored_good_or_bad_icon_tag project.locked, 'lock', 'unlock', true
          %td.is-icon= boolean_icon_tag project.hidden_in_history
          %td= medium_datetime project.published_at
          %td
            = license_icon project.license
            = project.license.name
          %td= project.language.name
          %td.is-counter= project.albums_count
          %td.is-counter= project.articles_count
          %td.is-counter= project.notes_count
          %td.is-counter= project.uploads_count
          %td.relations
            - project.tags.each do |t|
              %span.tag= t.name
          %td
            .btn-group
              = member_action_links 'project', project

  = paginate @projects
