- @page_title = t('.account')

= form_for(resource, as: resource_name, url: { controller: 'auth/registrations', action: :update },
  html: { method: :put }) do |f|
  - if resource.errors.any?
    .error
      %h2= t('.save_error', count: resource.errors.count)
      %ul
        - resource.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :current_password
    .field-input
      = f.password_field :current_password, autocomplete: 'off'
      .field-hint= t('.current_password_help')
  %hr.separator
  .field
    = f.label :email
    .field-input
      = f.email_field :email, autofocus: true, autocomplete: 'email'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        .field-hint= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email)

  .field
    = f.label :password
    .field-input
      = f.password_field :password, autocomplete: 'off'
      .field-hint= t('.leave_blank_to_keep_unchanged')
      - if @minimum_password_length
        .field-hint= t('.number_characters_minimum', number: @minimum_password_length)

  .field
    = f.label :password_confirmation
    .field-input= f.password_field :password_confirmation, autocomplete: 'off'

  .actions
    = f.submit t('.save'), class: 'btn btn--save'

%h2.separator= t('.cancel_my_account')
.alert.alert--warning.mbs
  -# haml-lint:disable LineLength
  = t('.cancel_warning')
  -# haml-lint:enable LineLength
  = button_to({ controller: 'auth/registrations', action: :destroy },
              data: { confirm: t('.are_you_sure') },
              class: 'btn btn--danger',
              method: :delete) do
    = icon_text 'angry', t('.cancel_my_account')
