- @page_title = t('.sign_up')

.devise
  .devise__form
    .devise__form__wrapper
      = form_for(resource, as: resource_name, url: user_registration_path) do |f|
        - if resource.errors.any?
          .error
            %h2= t('.create_error', count: resource.errors.count)
            %ul
              - resource.errors.full_messages.each do |message|
                %li= message
        .field
          = f.label :username
          .field-input
            = f.text_field :username, autofocus: true, autocomplete: 'username'
            .field-hint
              -# haml-lint:disable LineLength
              = t('.username_help')
              -# haml-lint:enable LineLength
        .field
          = f.label :email
          .field-input= f.email_field :email, autocomplete: 'email'
        .field
          = f.label :password
          .field-input
            = f.password_field :password, autocomplete: 'off'
            - if @minimum_password_length
              .field-hint= t('.number_characters_minimum', number: @minimum_password_length)
        .field
          = f.label t('.confirmation')
          .field-input= f.password_field :password_confirmation, autocomplete: 'off'

        .actions
          = f.submit t('.sign_up'), class: 'btn btn--primary btn--block'

  = render 'auth/shared/links'
