@mixin content-full($name, $color) {

  .#{$name}--full {
    margin-bottom: $spacer-large-plus;

    > aside.details {
      font-size: .8em;
      margin-bottom: $spacer-medium;

      &.has-image {
        display: flex;

        .image {
          flex: none;
          height: 6.4rem;
          margin-right: $spacer-small;
        }

        > ul {
          flex-grow: 1;
        }

        // Responsive variations ------
        @include respond-to('large-up') {
          display: block;

          .image {
            background-color: $color-white;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
            margin: 0;
            height: auto;
            width: 100%;
          }
        }
      }

      &.always--inline {

        > ul {
          display: block;

          li {
            /* stylelint-disable max-nesting-depth */

            &.separator:not(:first-child) {
              border-top: 1px dashed $color-borders;
              margin: $spacer-tiny (-$spacer-small) 0 (-$spacer-small);
              padding: $spacer-tiny $spacer-small 0 $spacer-small;
              display: block;
            }

            // Responsive variation ---
            @include respond-to('large-up') {
              display: block;
            }

            /* stylelint-enable max-nesting-depth */
          }
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      > ul {
        @extend %card;
        border: none;
        padding: $spacer-tiny $spacer-small;

        li {

          &.separator:not(:first-child) {
            border-top: 1px dashed $color-borders;
            margin: $spacer-tiny (-$spacer-small) 0 (-$spacer-small);
            padding: $spacer-tiny $spacer-small 0 $spacer-small;
            display: block;
          }

          &.detail {
            @extend %ellipsis;
            padding: $spacer-tiny 0;
          }
        }
      }
    }

    // Responsive variations ----------
    @include respond-to('small-up') {

      > aside.details {

        > ul {
          @include grid(3, $spacer-small);

          li {
            display: block;

            &.separator:not(:first-child) { /* stylelint-disable-line max-nesting-depth */
              border: none;
              margin-top: 0;
              padding-top: 0;
            }
          }
        }
      }
    }
    @include respond-to('large-up') {
      display: grid;
      grid: {
        gap: $spacer-small;
        template: {
          columns: 1fr 3fr;
        }
      }

      > aside.details {
        grid-area: 1 / 1 / 2 / 2;

        > ul {
          display: block;

          li.separator:not(:first-child) {
            border-top: 1px dashed $color-borders;
            margin: $spacer-tiny (-$spacer-small) 0 (-$spacer-small);
          }
        }
      }
    }

    .content {
      grid-area: 1 / 2 / 2 / 3;

      article {

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6 {
          @extend %article-header;
        }

        > h1,
        > h2 {
          margin: $spacer-large 0 $spacer-medium 0;
        }

        > h3 {
          margin: $spacer-medium-plus 0 $spacer-small-plus 0;
        }

        > h4 {
          margin: $spacer-medium 0 $spacer-small 0;
        }

        pre {
          @extend %content-code;
        }
      }
    }
  }
}
