@mixin content-card($name, $color) {

  .#{$name}-card {
    $card-color-base: darken($color, 30%);
    $card-color-title: darken($card-color-base, 40%);
    $card-color-content: darken($card-color-base, 20%);
    @extend %card;
    background-color: $color;
    color: $card-color-base;

    > header {
      position: relative; /* to anchor ul.information */

      .header {
        position: relative;
        display: flex;
        padding: $spacer-small;

        h3 {
          margin: 0;
          line-height: 1em;
          flex-grow: 1;
          font: {
            size: 1.2em;
            weight: $weight-medium;
          }

          a { // stylelint-disable-line
            text-decoration: none;
            color: $card-color-title;
          }
        }

        .logo {
          height: 2*$spacer-medium;
          margin: 0 $spacer-small 0 0;
        }

        .subtitle {
          font-size: .8em;
          flex: none;
        }

        // Responsive variations ------
        @include respond-to('small-up') {
          padding: $spacer-medium-plus;

          h3 {

            .logo {
              height: 3*$spacer-medium;
              margin: (-$spacer-medium) ($spacer-small)  (-$spacer-medium) (-$spacer-medium);
            }
          }
        }
      }

      &:hover {

        > .information {
          max-height: 300px;
          transition:
            max-height ease-in .4s,
            opacity ease-in .4s,
            visibility ease-in .3s;
          visibility: visible;
        }

        ~ article {
          background-color: darken($color, 8%);
          transition: all ease .4s;
          border-top-style: solid;
        }
      }

      > .information {
        $background: darken($color, 5%);
        visibility: hidden;
        position: absolute;
        left: $spacer-medium;
        top: calc(100%);
        list-style-type: none;
        margin: 0 auto;
        padding: $spacer-small $spacer-medium;
        font-size: .8em;
        min-height: 1em;
        background-color: $color;
        box-shadow:
          0 3px 4px -1px $color-in-card-borders,
          inset 0 4px 4px -5px $color-in-card-borders;
        border-radius: 0 0 5px 5px;
        border: 1px solid $color-in-card-borders;
        color: darken($card-color-content, 10%);
        max-width: 75vw;
        z-index: $zindex-dropdown;
        max-height: 0;
        transition:
          max-height ease-out .4s,
          opacity ease-out .4s,
          visibility ease-out .3s;
        overflow: hidden;

        a {
          color: $link-color;
          text-decoration: none;

          &:hover {
            color: $link-color-hover;
            text-decoration: underline;
          }
        }
      }
    }

    article {
      border-top: 1px dashed $color-in-card-borders;
      padding: $spacer-medium;
      color: $card-color-content;
      transition: all ease .4s;

      pre {
        @extend %content-code;
      }

      // Responsive variations --------
      @include respond-to('small-up') {
        padding: $spacer-medium-plus;
      }
    }

    .more {
      font-size: .8em;
      text-align: right;
    }
  }
}
