- @page_title = t('.languages')

.languages-list
  - @languages.each do |language|
    .language.language-card
      %header
        .icon= icon 'language', ['3x']
        .headers
          %h3.title{ lang: language.iso639_1 }= link_to language.name, language

          %ul.information
            %li
              %strong= t('.iso_639_1_code')
              = language.iso639_1
      .content
        = link_to language_projects_path(language), class: 'btn btn--block' do
          = icon 'project', ['icon']
          .text= t('generic.counts.projects', count: language.projects_count)
        = link_to language_articles_path(language), class: 'btn btn--block' do
          = icon 'article', ['icon']
          .text= t('generic.counts.articles', count: language.articles_count)
        = link_to language_notes_path(language), class: 'btn btn--block' do
          = icon 'note', ['icon']
          .text= t('generic.counts.notes', count: language.notes_count)
        = link_to language_uploads_path(language), class: 'btn btn--block' do
          = icon 'image', ['icon']
          .text= t('generic.counts.uploads', count: language.uploads_count)
        = link_to language_albums_path(language), class: 'btn btn--block' do
          = icon 'album', ['icon']
          .text= t('generic.counts.albums', count: language.albums_count)
        = link_to language_links_path(language), class: 'btn btn--block' do
          = icon 'link', ['icon']
          .text= t('generic.counts.links', count: language.links_count)

= paginate @languages
