<%
  header = t('.header', site_name: Rails.configuration.elabs.site_name)
  message_header = t('.user_commented_with')
%>
<%= header %>
<%= '=' * header.length %>

<%= notification_message @notification, false %>

<% if @notification.message %>
<%= message_header %>
<%= '-' * message_header.length %>
<%= @notification.message %>


<% end %>
<%= t('.review')  %>
<%= t('.url_to_notifications', url: url_for(:member_notifications)) %>

---
<%= t('.email_reason_text', site_name: Rails.configuration.elabs.site_name) %>
<%= member_edit_preferences_url %>
