%header
  %h1= t('.header', site_name: Rails.configuration.elabs.site_name)

%article
  %p= notification_message @notification

  - if @notification.message
    %p
      = t('.user_commented_with', user: @notification.source_user.display_name)
      %blockquote= @notification.message

  %p= t('.review')

  %p= t('.link_to_notifications_html', link: link_to(t('.notifications_list'), url_for(:member_notifications)))

%footer= t('.email_reason_html',
            site_name: Rails.configuration.elabs.site_name,
            preferences_link: link_to(t('.your_preferences'), member_edit_preferences_url))
