%header
  %h1= t('.header', site_name: Rails.configuration.elabs.site_name)

%article
  %p= notification_message @notification, false

  %p
    = t('.reason')
    %blockquote= @notification.content.reason

  %p= t('.link_to_page_html', link: link_to(t('.link_to_page_title'), @notification.content.url))

%footer= t('.email_reason_html',
            site_name: Rails.configuration.elabs.site_name,
            preferences_link: link_to(t('.your_preferences'), member_edit_preferences_url))
