= form_for note, url: note.id ? member_note_path : member_notes_path do |f|
  - if note.errors.any?
    .error
      %h2= t('.save_error', count: note.errors.count)
      %ul
        - note.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :content
    .field-input
      = f.text_area :content
      .field-hint= t('.markdown_preview_html',
                      preview_button: content_tag('a',
                        t('.preview'),
                        href: '#',
                        onclick: 'mdPreviewContent(event)'))

  = render 'member/layouts/form_commons', form: f, entity: note

= render 'member/layouts/markdown-preview'

:javascript
  var cm = initializeCodeMirrorIn(document.getElementById('note_content'))
  var mdPreviewContent = createMDPreviewer(cm)
