- @page_title = t('.notes')

.page__actions
  = link_to t('.new_note'), new_member_note_path, class: 'btn btn--new'

- if @notes.length.zero?
  = render 'member/layouts/empty', link: new_member_note_path
- else
  %table.notes-list
    %thead
      %tr
        %th= t('.content')
        %th= member_order_by_link t('.sfw'), 'sfw'
        %th= member_order_by_link t('.pub'), 'published'
        %th= member_order_by_link t('.lock'), 'locked'
        %th= member_order_by_link t('.skip_hist'), 'hidden_in_history'
        %th= member_order_by_link t('.published_at'), 'published_at'
        %th= t('.license')
        %th= t('.language')
        %th= t('.projects')
        %th= t('.tags')
        %th

    %tbody
      - @notes.each do |note|
        %tr.note
          %td= note.content[0...100]
          %td.is-icon= colored_good_or_bad_icon_tag note.sfw
          %td.is-icon= colored_good_or_bad_icon_tag note.published
          %td.is-icon= colored_good_or_bad_icon_tag note.locked, 'lock', 'unlock', true
          %td.is-icon= boolean_icon_tag note.hidden_in_history
          %td= medium_datetime note.published_at
          %td
            = license_icon note.license
            = note.license.name
          %td= note.language.name
          %td.relations
            - note.projects.each do |p|
              %span.project= p.name
          %td.relations
            - note.tags.each do |t|
              %span.tag= t.name
          %td
            .btn-group
              = member_action_links 'note', note

  = paginate @notes
