= form_for [:member, link] do |f|
  - if link.errors.any?
    .error
      %h2= t('.save_error', count: link.errors.count)
      %ul
        - link.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    .field-input= f.text_field :title

  .field
    = f.label :url
    .field-input
      = f.text_field :url
      .field-hint= t('.allowed_schemes', schemes: 'http, https, ftp, sftp')

  .field
    = f.label :description
    .field-input= f.text_field :description

  = render 'member/layouts/form_commons', form: f, entity: link, has_license: false, has_projects: false
