- @page_title = t('.links')

.page__actions
  = link_to t('.new_link'), new_member_link_path, class: 'btn btn--new'

- if @links.length.zero?
  = render 'member/layouts/empty', link: new_member_link_path
- else
  %table.links-list
    %thead
      %tr
        %th= member_order_by_link t('.title'), 'title'
        %th= member_order_by_link t('.url'), 'url'
        %th= member_order_by_link t('.sfw'), 'sfw'
        %th= member_order_by_link t('.pub'), 'published'
        %th= member_order_by_link t('.lock'), 'locked'
        %th= member_order_by_link t('.skip_hist'), 'hidden_in_history'
        %th= member_order_by_link t('.published_at'), 'published_at'
        %th= t('.language')
        %th= t('.tags')
        %th

    %tbody
      - @links.each do |link|
        %tr.link
          %td= link.title
          %td= ellipsis(link.url, 100)
          %td.is-icon= colored_good_or_bad_icon_tag link.sfw
          %td.is-icon= colored_good_or_bad_icon_tag link.published
          %td.is-icon= colored_good_or_bad_icon_tag link.locked, 'lock', 'unlock', true
          %td.is-icon= boolean_icon_tag link.hidden_in_history
          %td= medium_datetime link.published_at
          %td= link.language.name
          %td.relations
            - link.tags.each do |t|
              %span.tag= t.name
          %td
            .btn-group
              = member_action_links 'link', link, [:show]

  = paginate @links
