.user.user-card
  %header
    .icon
      - if user.avatar.attached?
        = image_tag avatar_image(user.avatar, :small)
      - else
        = icon 'user', ['3x']
    .headers
      %h3.title= link_to user.display_name, user

      %ul.information
        - if user.real_name.present?
          %li
            %b @#{user.username}
      %ul.information
        %li
          %b= t('.role')
          = user.role
        %li
          %b= t('.since')
          = short_date user.created_at

  .content
    .btn-group.btn-group--block
      = link_to user_projects_path(user),
          class: 'btn btn--small',
          title: t('generic.counts.projects', count: user.projects_count) do
        = icon_text 'project', user.projects_count
      = link_to user_articles_path(user),
          class: 'btn btn--small',
          title: t('generic.counts.articles', count: user.articles_count) do
        = icon_text 'article', user.articles_count
      = link_to user_notes_path(user),
          class: 'btn btn--small',
          title: t('generic.counts.notes', count: user.notes_count) do
        = icon_text 'note', user.notes_count
      = link_to user_uploads_path(user),
          class: 'btn btn--small',
          title: t('generic.counts.uploads', count: user.uploads_count) do
        = icon_text 'image', user.uploads_count
      = link_to user_albums_path(user),
          class: 'btn btn--small',
          title: t('generic.counts.albums', count: user.albums_count) do
        = icon_text 'album', user.albums_count
      = link_to user_links_path(user),
          class: 'btn btn--small',
          title: t('generic.counts.links', count: user.links_count) do
        = icon_text 'link', user.links_count
