- @page_title = @user.display_name
.user.user--full
  %aside.details.has-image.always--inline
    - if @user.avatar.attached?
      = image_tag avatar_image(@user.avatar, :medium), class: 'image'
    %ul
      %li.separator
        %ul
          %li.separator
            = icon 'user'
            %strong= t('.username')
            = @user.username
          - if @user.real_name.present?
            %li.separator
              = icon 'user'
              %strong= t('.real_name')
              = @user.real_name
          %li.separator
            = icon 'calendar-check'
            %strong= t('.since')
            = short_date @user.created_at

      %li.separator
        %ul
          %li.separator
            = icon 'amount'
            %strong= t('.albums_count')
            = @user.albums_count
          %li.separator
            = icon 'amount'
            %strong= t('.articles_count')
            = @user.articles_count
          %li.separator
            = icon 'amount'
            %strong= t('.notes_count')
            = @user.notes_count
          %li.separator
            = icon 'amount'
            %strong= t('.projects_count')
            = @user.projects_count
          %li.separator
            = icon 'amount'
            %strong= t('.uploads_count')
            = @user.uploads_count
          %li.separator
            = icon 'amount'
            %b= t('.links')
            = @user.links_count

  .content
    - if @user.biography.present?
      %article
        = render_entity_content @user, :biography

    = render 'layouts/content_associations', is_section: true, entity: @user
