- @page_title = t('.links')

%table.links-list
  %thead
    %tr
      %th= admin_order_by_link t('.title'), 'title'
      %th= admin_order_by_link t('.url'), 'url'
      %th= admin_order_by_link t('.sfw'), 'sfw'
      %th= admin_order_by_link t('.pub'), 'published'
      %th= admin_order_by_link t('.lock'), 'locked'
      %th= admin_order_by_link t('.skip_hist'), 'hidden_in_history'
      %th= admin_order_by_link t('.published_at'), 'published_at'
      %th= t('.user')
      %th= t('.language')
      %th= t('.tags')
      %th

  %tbody
    - @links.each do |link|
      %tr.link
        %td= link.title
        %td= ellipsis(link.url, 100)
        %td.is-icon= colored_good_or_bad_icon_tag link.sfw
        %td.is-icon= colored_good_or_bad_icon_tag link.published
        %td.is-icon= colored_good_or_bad_icon_tag link.locked, 'lock', 'unlock', true
        %td.is-icon= boolean_icon_tag link.hidden_in_history
        %td= medium_datetime link.published_at
        %td= link.user.username
        %td= link.language.name
        %td.relations
          - link.tags.each do |t|
            %span.tag= t.name
        %td.actions
          .btn-group
            = admin_action_links 'link', link, [:show]

= paginate @links
