:ruby
  has_albums = false if has_albums.nil?
  has_projects = true if has_projects.nil?
  has_uploads = false if has_uploads.nil?
  has_license = true if has_license.nil?

.field
  .field-input
    = form.check_box :sfw
    = form.label :sfw
.field
  .field-input
    = form.check_box :published
    = form.label :published
.field
  .field-input
    = form.check_box :hidden_in_history
    = form.label :hidden_in_history
- if has_license
  .field
    = form.label :license
    .field-input= license_selector form
.field
  = form.label :language
  .field-input= language_selector form
- if has_uploads
  .field
    = form.label :uploads
    .field-input= uploads_selector form
- if has_projects
  .field
    = form.label :projects
    .field-input= projects_selector form
- if has_albums
  .field
    = form.label :albums
    .field-input= album_selector form
.field
  = form.label :tags, for: :tags_list
  .field-input
    = form.text_field :tags_list
    .field-hint= t('.tags_help')

.actions
  - if entity.id && entity.class::ACT_UPDATES
    .field
      .field-input
        = form.check_box :minor_update,
          onchange: "toggleUpdateMessageField(event, '#{entity.class.table_name.singularize}_update_description')"
        = form.label :minor_update, t('.minor_edition')
    .field
      = form.label :update_description, t('.update_message')
      .field-input
        = form.text_field :update_description
        .field-hint= t('.minor_modification_help')
  .actions-buttons
    = form.submit t('.save'), class: 'btn btn--save'
