.modal#content-preview-modal
  .modal__overlay
  .modal__window
    .modal__window__title
      %h1= t('.preview')
      .modal__close-button
        %i.fa.fa-times{ onclick: 'closeModal("content-preview-modal")' }
    .modal__window__content#content-description-preview
