%header
  %h1= @resource.try(:confirmed?) ? t('.header_change') : t('.header_new')

%article
  %p= t('.greeting', recipient: @resource.display_name)

  %p= t('.instruction', link: link_to(t('.link'), user_confirmation_url(confirmation_token: @token)))
