<% header = t('.header') %>
<%= header %>
<%= '=' * header.length %>

<%= t('.greeting', recipient: @resource.display_name) %>

<%= t('.message', email: @resource.try(:unconfirmed_email?) ? @resource.unconfirmed_email : @resource.email) %>
