%header
  %h1= t('.header')

%article
  %p= t('.greeting', recipient: @resource.display_name)

  %p= t('.instruction_html', link: link_to(t('.link'), edit_user_password_url(reset_password_token: @token)))

  %p= t('.instruction_2')
  %p= t('.instruction_3')
