%header
  %h1= t('.header')

%article
  %p= t('.greeting', recipient: @resource.display_name)

  %p= t('.message')

  %p= t('.instruction_html', link: link_to(t('.link'), user_unlock_url(unlock_token: @token)))
