%p.home__stand-out
  Vous avez un <strong class="text--brand">projet</strong> mais pas le temps
  de créer un site pour le <strong class="text--brand">présenter</strong> ?

%p
  C'est l'endroit parfait pour le faire !
