%p.home__stand-out
  You have a <strong class="text--brand">project</strong> but no time to create a
  website to <strong class="text--brand">showcase</strong> it ?

%p
  It's the perfect place to do so!
