.home
  = render 'index_content'

%h2= t('.last_projects')
.projects-list.grid-3-small-2.has-gutter
  - @projects.each do |project|
    %div= render 'layouts/content_card', entity: project, hide_author: true
