-# tag variable should be passed from the view
= form_for tag, url: tag.id ? admin_tag_path : admin_tags_path do |f|
  - if tag.errors.any?
    .error
      %h2= t('.save_error', count: tag.errors.count)
      %ul
        - tag.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    .field-input= f.text_field :name

  .actions
    .actions-buttons
      = f.submit t('.save'), class: 'btn btn--save'
