- @page_title = t('.projects')

%table.projects-list
  %thead
    %tr
      %th= admin_order_by_link t('.name'), 'name'
      %th= admin_order_by_link t('.sfw'), 'sfw'
      %th= admin_order_by_link t('.pub'), 'published'
      %th= admin_order_by_link t('.lock'), 'locked'
      %th= admin_order_by_link t('.skip_hist'), 'hidden_in_history'
      %th= admin_order_by_link t('.published_at'), 'published_at'
      %th= t('.user')
      %th= t('.license')
      %th= t('.language')
      %th= admin_order_by_link t('.albums'), 'albums_count'
      %th= admin_order_by_link t('.articles'), 'articles_count'
      %th= admin_order_by_link t('.notes'), 'notes_count'
      %th= admin_order_by_link t('.uploads'), 'uploads_count'
      %th= t('.tags')
      %th

  %tbody
    - @projects.each do |project|
      %tr.project
        %td= project.name
        %td.is-icon= colored_good_or_bad_icon_tag project.sfw
        %td.is-icon= colored_good_or_bad_icon_tag project.published
        %td.is-icon= colored_good_or_bad_icon_tag project.locked, 'lock', 'unlock', true
        %td.is-icon= boolean_icon_tag project.hidden_in_history
        %td= medium_datetime project.published_at
        %td= project.user.username
        %td= project.license.name
        %td= project.language.name
        %td.is-counter= project.albums_count
        %td.is-counter= project.articles_count
        %td.is-counter= project.notes_count
        %td.is-counter= project.uploads_count
        %td.relation
          - project.tags.each do |t|
            %span.tag= t.name
        %td.actions
          .btn-group
            = admin_action_links 'project', project

= paginate @projects
