- if !show_item? project
  = render 'layouts/hidden_entry_inline', entity: project
- else
  %span.project.project--inline
    - if project.logo.attached?
      = image_tag avatar_image(project.logo, :tiny), class: 'logo'
    - else
      = icon 'project'
    = link_to project.name, project, lang: project.language.iso639_1
    - if project.language.iso639_1 != locale
      (#{project.language.iso639_1})

