- @page_title = t('.projects')

.projects-list
  = render 'layouts/empty' if @projects.length.zero?

  .grid-3-small-2.has-gutter
    - @projects.each do |p|
      %div= render 'layouts/content_card', entity: p, hide_author: true

= paginate @projects
