- if !show_item? @project
  - @page_title = t('.content_not_displayed')
  = render 'layouts/hidden_entry_full', entity: @project
- else
  - content_for :page_header do
    %header.page__header__presentation
      - if @project.logo.attached?
        = image_tag avatar_image(@project.logo, :large), class: 'image'
      - else
        .image-placeholder= icon 'project'
      .page__header__presentation__content
        %h1.page__header__title= @project.name
        %ul
          - if @project.main_url.present?
            %li
              = icon 'home'
              %strong= link_to t('.home_page'), @project.main_url, target: '_blank', rel: 'noopener noreferrer'
          - else
            %li{ disabled: true }= icon_text('home', t('.home_page'))

          - if @project.sources_url.present?
            %li
              = icon 'code'
              %strong= link_to t('.sources'), @project.sources_url, target: '_blank', rel: 'noopener noreferrer'
          - else
            %li{ disabled: true }= icon_text('code', t('.sources'))

          - if @project.docs_url.present?
            %li
              = icon 'album'
              %strong= link_to t('.documentation'), @project.docs_url, target: '_blank', rel: 'noopener noreferrer'
          - else
            %li{ disabled: true }= icon_text('album', t('.documentation'))

  .project.project--full
    %aside.details.has-image.always--inline
      = render 'layouts/content_full_details', entity: @project

    .content
      - content_for :tabs_content do
        %article{ lang: @project.language.iso639_1 }
          = render_entity_content @project, :short_description
          = render_entity_content @project, :description

      = render 'layouts/content_associations',
               is_section: true,
               entity: @project,
               content_block: :tabs_content,
               content_block_title: t('.description')

  = render 'comments/comments',
            entity: @project,
            new_comment: @new_comment,
            url: project_create_comment_path(@project)
