<%
title            = t('.title', type: t('.project'), title: @project.name)
username         = @project.user.display_name
publication_date = @project.published_at
has_update       = @project.published_at < @project.updated_at

if params[:md_format] == 'pandoc' %>
% <%= title %>
% <%= username %>
% <%= publication_date %>

<% else %>
# <%= title %>

- **<%= t('.author') %>** <%= username %>
- **<%= t('.published_at') %>** <%= publication_date %>
<% end %>
<% if has_update %>
- **<%= t('.updated_at') %>** <%= @project.updated_at %>
<% end %>
- **<%= t('.language') %>** <%= @project.language.name %>
- **<%= t('.license') %>** [<%= @project.license.name %>](<%= @project.license.url %>)
- **<%= t('.tags') %>** <% @project.tags.each do |tag| %><%= tag.name %>, <% end %>
- **<%= t('.original_url') %>** <%= project_url(@project) %>
- **<%= t('.sfw') %>** <%= @project.sfw ? t('yes') : t('no') %>

---

<%= @project.description %>

## <%= t('.associated_content') %>
<% if @project.albums_count > 0 %>

### <%= t('.albums') %>

<% @project.albums.each do |album| %>
- [<%= album.name %>](<%= album_url(album) %>)
<% end %>
<% end %>
<% if @project.articles_count > 0 %>

### <%= t('.articles') %>

<% @project.articles.each do |article| %>
- [<%= article.title %>](<%= article_url(article) %>)
<% end %>
<% end %>
<% if @project.notes_count > 0 %>

### <%= t('.notes') %>

<% @project.notes.each do |note| %>
- [<%= note.published_at %>](<%= note_url(note) %>)
<% end %>
<% end %>
<% if @project.uploads_count > 0 %>

### <%= t('.files') %>

<% @project.uploads.each do |upload| %>
- [<%= upload.title %>](<%= upload_url(upload) %>)
<% end %>
<% end %>
