.page__header__actions__filters
  .page__header__actions__filters__group
    .page__header__actions__filters__group__title= t('.sort_by')
    = order_link t('.title'), 'title'
    = order_link t('.url'), 'url'
    = order_link t('.pub_date'), 'published_at'
    = order_link t('.upd_date'), 'updated_at'

  .page__header__actions__filters__group
    .page__header__actions__filters__group__title= t('.nsfw_content')
    = sfw_status_links
