- if !show_item? album
  = render 'layouts/hidden_entry_inline', entity: album
- else
  %span.album.album--inline
    = icon 'album'
    = link_to album.name, album, lang: album.language.iso639_1
    - if album.language.iso639_1 != locale
      (#{album.language.iso639_1})
