.content__relations
  = render 'layouts/empty' if album.uploads.length.zero?
  .uploads-list
    - album.uploads.published.limit(Rails.configuration.elabs.albums_max_shown_uploads).each do |upload|
      = render 'uploads/preview', upload: upload
- if album.uploads_count > Rails.configuration.elabs.albums_max_shown_uploads
  .more
    +#{album.uploads_count - Rails.configuration.elabs.albums_max_shown_uploads}
