- if !show_item? @album
  - @page_title = t('.content_not_displayed')
  = render 'layouts/hidden_entry_full', entity: @album
- else
  - @page_title = @album.name
  .album.album--full
    %aside.details
      = render 'layouts/content_full_details', entity: @album

    .content
      %article{ lang: @album.language.iso639_1 }
        = render_entity_content @album, :description

      .content__relations
        = render 'layouts/empty' if @album.uploads_count.zero?
        %section.uploads-list
          - @album.uploads.for_relation.each do |u|
            = render 'uploads/preview', upload: u

  = render 'comments/comments',
            entity: @album,
            new_comment: @new_comment,
            url: album_create_comment_path(@album)
