%span.github-inline
  - if url_matches.length == 3
    = icon 'github', pack: 'fab'
    = link_to url_matches[1],
              "https://github.com/#{url_matches[1]}",
              target: '_blank',
              rel: 'noopener noreferrer'
    \/
    = link_to url_matches[2],
              "https://github.com/#{url_matches[1]}/#{url_matches[2]}",
              target: '_blank',
              rel: 'noopener noreferrer'
  - else
    = t('.invalid_github_repository')
