- widget_id = random_string
- url_matches ||= nil
- if url_matches.nil? || url_matches.length < 3
  = render 'layouts/shortcodes/missing_content'
- else
  %div{ id: "gl-group-widget-#{widget_id}" }

  :javascript
    documentReady(function () {
      gitlabGroupCard({site: "#{url_matches[1]}", groupName: "#{url_matches[2]}"}, "gl-group-widget-#{widget_id}")
    })
