- widget_id = random_string
- url_matches ||= nil

- if url_matches.nil? || url_matches.length < 3
  = render 'layouts/shortcodes/missing_content'
- else
  %div{ id: "gl-repo-widget-#{widget_id}" }

  :javascript
    documentReady(function () {
      gitlabRepoCard({site: "#{url_matches[1]}", repo: "#{url_matches[2]}"}, "gl-repo-widget-#{widget_id}")
    })
