- widget_id = random_string
- repo_url ||= nil

- if repo_url.nil?
  = render 'layouts/shortcodes/missing_content'
- else
  %div{ id: "gh-repo-widget-#{widget_id}" }

  :javascript
    documentReady(function () {
      githubRepoCard("#{repo_url}", "gh-repo-widget-#{widget_id}")
    })
