%span.gitlab-inline
  - if url_matches.length == 4
    = icon 'gitlab', pack: 'fab'
    = link_to url_matches[2], "#{url_matches[1]}/#{url_matches[2]}", target: '_blank', rel: 'noopener noreferrer'
    \/
    = link_to url_matches[3], url_matches[0], target: '_blank', rel: 'noopener noreferrer'
  - else
    = t('.invalid_gitlab_repository')
