= form_for announcement, url: announcement.id ? admin_announcement_path : admin_announcements_path do |f|
  - if announcement.errors.any?
    .error
      %h2= t('.save_error', count: announcement.errors.count)
      %ul
        - announcement.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :start_at
    .field-input.field-input--datetime= f.datetime_select :start_at,
      prompt: { day: t('.choose_day'),
          month: t('.choose_month'),
          year: t('.choose_year'),
          hour: t('.choose_hour'),
          minute: t('.choose_minutes') }
  .field
    = f.label :end_at
    .field-input.field-input--datetime= f.datetime_select :end_at,
      prompt: { day: t('.choose_day'),
        month: t('.choose_month'),
        year: t('.choose_year'),
        hour: t('.choose_hour'),
        minute: t('.choose_minutes') }
  .field
    = f.label :level
    .field-input= f.select :level, t('.info') => :info, t('.warning') => :warning, t('.important') => :danger

  .field
    = f.label :target
    .field-input= f.select :target, t('.global') => :global, t('.members') => :member, t('.admin') => :admin
  .field
    = f.label :content
    .field-input
      = f.text_area :content
      .field-hint= t('.markdown_preview_html',
                      preview_button: content_tag('a',
                        t('.preview'),
                        href: '#',
                        onclick: 'mdPreviewContent(event)'))

  .actions
    .actions-buttons
      = f.submit t('.save'), class: 'btn btn--save'

= render 'member/layouts/markdown-preview'

:javascript
  var cm = initializeCodeMirrorIn(document.getElementById('announcement_content'))
  var mdPreviewContent = createMDPreviewer(cm)
