- @page_title = t('.tags_list')

= render 'layouts/empty' if @tags.length.zero?

.tags-list
  - @tags.each do |tag|
    .tag.tag-card
      %header
        .icon= icon 'tag', ['2x']
        .headers
          %h3.title= link_to tag.name, tag

      .content
        = link_to tag_projects_path(tag), class: 'btn btn--block' do
          = icon 'project', ['icon']
          .text= t('generic.counts.projects', count: tag.projects_count)
        = link_to tag_articles_path(tag), class: 'btn btn--block' do
          = icon 'article', ['icon']
          .text= t('generic.counts.articles', count: tag.articles_count)
        = link_to tag_notes_path(tag), class: 'btn btn--block' do
          = icon 'note', ['icon']
          .text= t('generic.counts.notes', count: tag.notes_count)
        = link_to tag_uploads_path(tag), class: 'btn btn--block' do
          = icon 'image', ['icon']
          .text= t('generic.counts.uploads', count: tag.uploads_count)
        = link_to tag_albums_path(tag), class: 'btn btn--block' do
          = icon 'album', ['icon']
          .text= t('generic.counts.albums', count: tag.albums_count)
        = link_to tag_links_path(tag), class: 'btn btn--block' do
          = icon 'link', ['icon']
          .text= t('generic.counts.links', count: tag.links_count)
