.acts-list {

  .date {
    @include font-size('h3');
    font-weight: $weight-medium;
    margin: $spacer-medium 0;
    background-color: $acts-date-background-color;
    padding: $spacer-tiny;
    line-height: 1em;
  }
}

// Responsive variation ---------------
@include respond-to('medium-up') {

  .acts-list {

    .date {
      @include font-size('h3');
      display: inline-block;
      margin: $spacer-medium 0 $spacer-small 25%;
      transform: translateX(-60%);
    }
  }
}
