// Language ---------------------------
@include content-full('language', $language-bg);
@include content-full('license', $license-bg);
@include content-full('tag', $tag-bg);

.languages-list,
.licenses-list,
.tags-list {
  @include grid(1, $spacer-small);
  @include respond-to('small-up') {
    @include grid(2, $spacer-small);
  }
  @include respond-to('medium-up') {
    @include grid(3, $spacer-small);
  }
  @include respond-to('large-up') {
    @include grid(4, $spacer-small);
  }
}

// Users ------------------------------
@include content-full('user', $user-bg);

.users-list {
  @include grid(1, $spacer-small);
  @include respond-to('small-up') {
    @include grid(2, $spacer-small);
  }
  @include respond-to('large-up') {
    @include grid(3, $spacer-small);
  }
}
