body {
  font-weight: $weight-light;
}

p {

  &:last-child {
    margin-bottom: 0;
  }
}

/* stylelint-disable selector-no-qualifying-type */

h1.separator,
h2.separator,
h3.separator,
h4.separator,
h5.separator,
h6.separator {
  border: {
    top: 3px double $color-borders;
    bottom: 0;
    left: 0;
    right: 0;
  }
  margin-top: $spacer-medium;
  background: transparent;
}

hr.separator {
  border: {
    top: 1px dashed $color-borders;
    bottom: 0;
    left: 0;
    right: 0;
  }
  background: transparent;
}

/* stylelint-enable selector-no-qualifying-type */
