// Page headers (title/filters) -------
.page__header {
  @extend %content-container;
  display: flex;
  padding-top: $spacer-medium-plus;

  // Responsive variations ------------
  @include respond-to('medium-up') {
    display: block;
    padding-top: $spacer-large-plus;
  }

  // Custom title presentation --------
  &__presentation {
    display: grid;
    grid-gap: $spacer-small;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(1, auto);
    align-items: center;

    .image {
      grid-area: 1 / 1 / 2 / 2;

      &-placeholder {
        text-align: center;
        color: $color-muted;
        font-size: 4em;
        line-height: 1em;
      }
    }

    &__content {
      grid-area: 1 / 2 / 2 / 3;

      ul {
        @include grid(3, $spacer-small);
        margin-top: $spacer-tiny;
        list-style-type: none;
        padding: $spacer-small 0;
        font-size: .8em;

        li {

          .fa,
          .fas {
            display: none;
          }
        }
      }
    }

    // Responsive
    @include respond-to('small-up') {

      .page__header__presentation__content {

        ul {
          margin-top: $spacer-small;
          font-size: 1em;
          padding-top: 0;

          li {
            border: none;

            .fa,
            .fas {
              display: initial;
            }
          }
        }
      }
    }
    @include respond-to('large-up') {
      grid-template-columns: 1fr 8fr;

      .page__header__presentation__content {
        grid-area: 1 / 2 / 2 / 3;

        ul {
          display: flex;
          max-width: 50%;

          li {
            margin-left: $spacer-small;
          }
        }
      }
    }
  }

  // Page title -----------------------

  &__title {
    flex-grow: 1;
    font-weight: 300;
    color: $page-title-color;
    padding: 0;
    line-height: 1em;
    margin: 0;

    // Responsive variations ----------
    @include respond-to('medium-up') {
      font-size: 3.5em;
      flex-grow: 1;
    }
  }

  &__actions {
    text-align: right;
    padding: $spacer-tiny 0;
    flex: none;

    &_button {
      @include font-size('h5');
      color: $page-header-links-color;
      display: inline-flex;
      text-decoration: none;
    }

    // Filter links and sort orders ---

    &__filters {
      display: none;
      position: fixed;
      right: 0;
      top: 0;
      width: 18rem;
      height: 100vh;
      z-index: $zindex-navigation;
      background-color: $filter-links-panel-bg;
      padding: 0;

      &__group {
        display: block;
        margin: 0;

        &:not(:first-child) {
          margin-top: $spacer-small;
          border-top: 1px solid $color-borders;
        }

        &__title {
          font-size: 1.2em;
          background-color: $filter-links-titles-bg;
          color: $filter-links-color;
          padding: $spacer-small $spacer-tiny;
          text-align: left;
        }
      }

      // Responsive variations: medium and up
      /* stylelint-disable max-nesting-depth */
      @include respond-to('medium-up') {
        margin: 0;
        display: flex;
        align-items: flex-end;
        position: relative;
        height: auto;
        width: auto;
        background-color: transparent;

        &__group {
          display: flex;
          margin: 0;
          background-color: $color-background-base;

          &:not(:first-child) {
            margin-top: 0;
            border-top: 0;
          }

          &__title {
            display: none;
          }

          .filter-link {
            padding: $spacer-tiny;
            display: block;
            color: $link-color;

            &__icon {
              padding: 0 $spacer-tiny;
            }

            &__link {
              @include font-size('smaller');
            }

            &:hover {
              background-color: transparent;
              color: $link-color-hover;
            }
          }
        }
      }
      /* stylelint-enable max-nesting-depth */
    }

    &:hover {

      .page__header__actions__filters {
        display: block;
      }
    }

    // Responsive variations ----------
    @include respond-to('medium-up') {
      display: flex;
      justify-content: flex-end;
      padding: 0;

      &_button {
        display: none;
      }

      &:hover {

        .page__header__actions__filters {
          display: flex;
        }
      }
    }
  }
}
