.page {
  background-color: $page-headers-background-color;

  &__wrapper {
    background-color: $color-background-base;
  }

  &__info {
    @extend %content-container;

    .alert--experimental {
      background-color: darken($color-brand, 15%);
      padding: $spacer-tiny;
    }
  }

  // Admin pages variation ------------

  &--admin {
    border: 5px solid $color-danger;
    min-height: 100vh;
  }
}
