// Page menu --------------------------
.page__menu {
  background-color: $menu-background-color;

  // All links style ------------------
  a {
    text-decoration: none;
  }

  // Menu links -----------------------
  .menu_entry {
    display: inline-block;
    padding: $spacer-small $spacer-tiny-plus calc(#{$spacer-small} - #{$spacer-tiny}) $spacer-tiny-plus;
    color: $menu-color;
    border-bottom: $spacer-tiny solid transparent;

    .icon {
      display: none;
      color: $menu-item-icon-color;
    }

    &--avatar {
      padding: 0;
      border: none;

      .avatar {
        height: 4.45rem;
      }
    }

    &:hover {
      background-color: $menu-link-background-color-hover;

      .icon {
        color: $menu-item-hover-icon-color;
      }
    }

    &.active {
      border-bottom-color: $menu-item-active-border-color;
    }
  }

  // Dropdown customisation -----------
  .dropdown {

    > a {
      color: inherit;
    }

    &__menu {
      background-color: $menu-link-background-color-hover;
      box-shadow: 0 5px 8px -1px $color-borders;
      border-top: 3px solid $menu-link-color;
      margin-top: 1rem;

      .menu_entry,
      .action {
        display: block;
        border-left: 3px solid transparent;

        &:hover { // stylelint-disable-line
          background-color: $menu-dropdown-background-color-hover;
        }

        &.active { // stylelint-disable-line
          border: {
            bottom: 0;
            left: 3px solid $menu-item-active-border-color;
          }
        }
      }
    }
  }

  // General menu title ---------------
  &__title {
    font-weight: 600;
    text-align: center;
    display: flex;

    .brand_link {
      flex-grow: 1;
      color: darken($color-brand, 20%);

      > a {
        padding: $spacer-tiny $spacer-small;
        display: block;
      }
    }

    .menu_button {
      flex: none;

      > a {
        padding: $spacer-tiny $spacer-small;
        display: block;
      }
    }
  }

  // Group of links -------------------
  &__group {

    // Secondary group (right one) ----
    &--secondary {
      display: none;
      flex: none;

      .close_menu_button {
        display: none;
      }

      &.visible {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        background-color: $menu-link-background-color-hover;
        min-width: 20rem;
        height: 100vh;
        overflow-x: auto;
        z-index: $zindex-modal;

        .close_menu_button {
          display: block;
          background-color: $color-brand;
          cursor: pointer;
          position: fixed;
          right: 0;
          padding: $spacer-tiny;
          z-index: $zindex-popover;
        }

        /* stylelint-disable max-nesting-depth */

        /* This is not really avoidable, as we target specific elements in a specific parent state */
        .menu_entry { /* stylelint-disable-line no-descending-specificity */
          display: block;

          &:hover {
            background-color: $menu-dropdown-background-color-hover;
          }

          .icon {
            display: inline-block;
          }
        }

        /* stylelint-enable max-nesting-depth */

        .dropdown__menu {
          right: 0;
          left: auto;
        }
      }
    }
  }

  // Logo -----------------------------
  &__logo {
    display: none;
  }

  // Menu button for larger screens ---
  .menu_button--for-small {
    display: none;
  }
}

// Responsive variations --------------
@include respond-to('small-up') {

  .page__menu {
    display: flex;
    padding: $spacer-medium-plus;

    &__title {
      display: inline-block;
      text-align: left;
    }

    &__group {
      display: flex;
      flex-grow: 1;

      &--secondary {
        display: none;
      }
    }

    .menu_button {

      &--for-tiny {
        display: none;
      }

      &--for-small {
        display: inline-block;
      }
    }
  }
}
@include respond-to('medium-up') {

  .page__menu {

    &__logo {
      display: block;
      max-width: 64px;
      position: absolute;
      top: $spacer-medium;
      left: $spacer-medium;
    }
  }

  a.brand_link {
    margin-left: 64px;
  }
}
@include respond-to('large-up') {

  .page__menu {

    &__group--secondary {
      flex: none;
      display: inline-block;

      .menu_entry {

        &_description {
          display: none;
        }
      }
    }

    .menu_button--for-small {
      display: none;
    }
  }
}
@include respond-to('extra-large-up') {

  .page__menu {

    .menu_entry {

      .icon {
        display: inline-block;
      }
    }
  }
}
