// Page footer ----------------------
.page__footer {
  background-color: $color-brand;
  padding: $spacer-small 0;

  &__content {
    @extend %content-container;
    font-size: .8em;
    text-align: center;

    a {
      color: $color-base;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
