.page {

  &--admin,
  &--member {

    .page {

      &__content__container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: $spacer-small;
      }

      &__header {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: $spacer-small;
      }

      &__actions {
        width: 100%;
        max-width: 100%;
        padding: 0 $spacer-small $spacer-small $spacer-small;
        background-color: transparent;
        text-align: right;
      }
    }

    .albums-list,
    .announcements-list,
    .articles-list,
    .links-list,
    .notes-list,
    .projects-list,
    .uploads-list,
    .languages-list,
    .licenses-list,
    .tags-list,
    .reports-list,
    .users-list,
    .notifications-list {
      display: table;
      font-size: .8em;

      .is-icon,
      .is-counter {
        text-align: center;
        max-width: 75px;
      }

      .actions {
        text-align: right;
        width: 100px;
      }

      .relations {

        .album,
        .project,
        .tag {
          display: block;
        }
      }
    }
  }
}

.screen_size_warning {
  background-color: $color-danger;
  color: $color-white;
  padding: $spacer-small;

  // Responsive variations ------------
  @include respond-to('large-up') {
    display: none;
  }
}
