.empty {
  @extend %card;
  padding: $spacer-medium;
  text-align: center;
  border: none;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gwfCxQ7ySJrcQAAACxJREFUOMtjYIAAHgZMQJYYI5rAFyyKSBWjrguHDhiNlNFIGY2U0UgZYpECALWmEYVG570iAAAAAElFTkSuQmCC');

  &--big {
    @extend %card;
    color: darken($color-muted, 5%);
    padding: $spacer-small;

    // Responsive variation -----------
    @include respond-to('small-up') {
      padding: $spacer-large;
    }
  }

  &__title {
    @include font-size('h3');

    // Responsive variation -----------
    @include respond-to('small-up') {
      @include font-size('h2');
    }
  }

  &__subtitle {
    font-size: .8em;
  }
}
