// Filter links -----------------------
.filter-link {
  display: flex;
  padding: $spacer-small $spacer-tiny;
  color: $filter-links-color;
  text-decoration: none;

  &__link {
    text-align: left;
    flex-grow: 1;
  }

  &__icon {
    flex: none;
    line-height: inherit;
  }

  &:hover {
    background-color: $filter-links-panel-hover-bg;
    text-decoration: none;
    color: darken($page-header-links-color, 15%);
  }
}
