// The links that are always visible on the page like "report this" and "go to top"
.fixed-link {
  display: inline-block;
  position: fixed;
  bottom: $spacer-small;
  padding: $spacer-tiny 0;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
  border-radius: $fixed-links-border-radius;

  &.to-top {
    left: $spacer-small;
    background-color: $fixed-link-to-top-background;
  }

  &.to-report {
    left: #{$spacer-small * 2 + $spacer-large };
    background-color: $fixed-link-to-report-background;
  }
}
