.modal {
  display: none;

  &--visible {
    display: block;
  }

  &__overlay {
    display: block;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparentize($modal-overlay-background-color, .5);
    z-index: #{$zindex-modal - 1};
  }

  &__window {
    position: fixed;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    top: 10vh;
    background-color: $modal-background-color;
    border: $border-default;
    z-index: $zindex-modal;

    &__title {
      @include font-size('h3');
      display: flex;
      padding: $spacer-tiny $spacer-small;

      h1 {
        @include font-size('h3');
        flex-grow: 1;
      }

      .modal__close-button {
        @extend %clickable;
        flex: none;
      }
    }

    &__content {
      padding: $spacer-tiny $spacer-small $spacer-small $spacer-small;
      max-height: 80vh;
      overflow: auto;

      .actions {
        text-align: right;
      }
    }

    // Responsive variations ----------
    @include respond-to('small-up') {
      width: 75%;
    }
  }
}
