.pagination {
  text-align: center;

  .page {
    padding: $spacer-tiny;
    background-color: transparent;

    &.current {
      font-weight: 600;
    }
  }

  a {
    text-decoration: none;
  }
}
