.tabs {

  &__tabs-list {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
    border-bottom: 1px solid $tab-border-color;

    &__tab {
      padding: $spacer-tiny;
      border: {
        top: 1px solid $tab-border-color;
        right: 1px solid $tab-border-color;
        bottom: 3px solid transparent;
        left: 1px solid $tab-border-color;
      }

      &:not(:first-child) {
        border-left: none;
      }

      &.active {
        border-color: $tab-border-color;
        background: $tab-active-background-color;
      }

      a {
        text-decoration: none;
        color: $color-base;
      }

      &:hover {
        background-color: $tab-hover-background-color;
      }

      // Responsive variations --------
      @include respond-to('small-up') {
        padding: $spacer-small $spacer-small-plus;
      }
    }
  }

  &__tab-content {

    &__title {
      display: flex;
      margin: $spacer-small 0 $spacer-medium 0;

      h2 {
        @include font-size('h4');
        flex-grow: 1;
      }

      .actions {
        flex: none;
        text-align: right;
      }
    }

    &.tab--initialized {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &.is-section:not(:first-child) {
    margin-top: $spacer-large;
  }
}
