- @page_title = t('.licenses')

.page__actions
  = link_to t('.new_license'), new_admin_license_path, class: 'btn btn--new'

%table.licenses-list
  %thead
    %tr
      %th= admin_order_by_link t('.name'), 'name'
      %th= admin_order_by_link t('.url'), 'url'
      %th= admin_order_by_link t('.tl_dr_url'), 'tldr_url'
      %th= admin_order_by_link t('.icon'), 'icon'
      %th= admin_order_by_link t('.albums'), 'albums_count'
      %th= admin_order_by_link t('.articles'), 'articles_count'
      %th= admin_order_by_link t('.notes'), 'notes_count'
      %th= admin_order_by_link t('.projects'), 'projects_count'
      %th= admin_order_by_link t('.uploads'), 'uploads_count'
      %th

  %tbody
    - @licenses.each do |license|
      %tr.license
        %td= license.name
        %td.is-icon
          = link_to license.url, target: '_blank', rel: 'noopener noreferrer' do
            = icon 'home'
        %td.is-icon
          = link_to license.tldr_url, target: '_blank', rel: 'noopener noreferrer' do
            = icon 'cut'
        %td
          = license_icon license
          = license.icon
        %td.is-counter= license.albums_count
        %td.is-counter= license.articles_count
        %td.is-counter= license.notes_count
        %td.is-counter= license.projects_count
        %td.is-counter= license.uploads_count
        %td.actions
          .btn-group
            = show_online_link license
            = admin_edit_link 'license', license
            = admin_destroy_link 'license', license
