// Base style for a card --------------
%card {
  border: $card-border;
  border-radius: $card-border-radius;
  background-color: $card-background-color;
  margin-bottom: $spacer-medium;

  // Responsive variations ------------
  @include respond-to('small-up') {
    margin-bottom: $spacer-large;
  }
}

// Base style for classifier cards ----
%classifier-card {
  @extend %card;
  margin-bottom: $spacer-small;
  padding: $classifier-card-padding;

  .content {
    padding: $classifier-card-content-vertical-padding 0;

    .btn {
      text-decoration: none;

      &--block {
        display: flex;

        .icon {
          flex: none;
        }

        .text {
          flex-grow: 1;
          text-align: center;
        }

        &:not(:last-child) {
          margin-bottom: $spacer-tiny;
        }
      }
    }
  }

  header {
    display: flex;
    margin-bottom: $spacer-medium;

    .icon {
      padding: 0;
      flex: none;
      margin-right: $spacer-tiny;

      img {
        border-radius: $border-radius;
      }
    }

    h3 {
      margin: 0;
      line-height: 1em;
    }

    ul.information {
      @include font-size('small');
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        margin-left: $spacer-tiny;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}
