.act {

  // Time -----------------------------
  &__time {
    display: none;
  }

  // Responsive variations ------------
  @include respond-to('medium-up') {
    @include grid($act-grid-cols, $act-history-line-spacer);

    &__time {
      @include font-size($act-time-font-size);
      display: block;
      grid-column: auto / span $act-grid-time-cols;
      text-align: right;

      // History circle ---------------
      &:after {
        content: '';
        display: inline-block;
        width: $act-history-dot-size;
        height: $act-history-dot-size;
        background-color: $act-history-dot-color;
        margin-left: $act-history-line-spacer;
        border: $act-history-dot-border-width solid $act-history-dot-border-color;
        border-radius: $act-history-dot-border-radius;
        transform: translateY($act-history-dot-size / 4);
      }
    }

    // This is the place for a content-card or act-status
    &__content {
      grid-column: auto / span 3;
      margin-left: calc(#{-$act-history-dot-size / 2} - #{$act-history-line-spacer});
      padding-left: calc(#{$act-history-dot-size / 2} + #{$act-history-line-spacer});
      border-left: $act-history-line-style;
    }
  }
}

// Act action: for statuses only ------
.act-status {
  @extend %card;
  background-color: $act-status-background;
  padding: $spacer-small;

  &--update:before {
    @include icon($act-status-icon-update);
  }

  &--unpublish:before {
    @include icon($act-status-icon-unpublish);
  }

  &--lock:before {
    @include icon($act-status-icon-lock);
  }

  &--unlock:before {
    @include icon($act-status-icon-unlock);
  }

  // Quotes, used for the reason ------
  q {
    @include font-size($act-status-quote-size);
    font-style: italic;

    &:before {
      content: '—';
      margin-right: $spacer-tiny;
    }

    &:after {
      content: '';
    }
  }

  // Responsive variations ----------
  @include respond-to('small-up') {
    padding: $spacer-medium;
  }
}
