.comment-card {
  @include classifier-card($color-grey-100);

  .comment-card--archived {
    opacity: $comment-archived-opacity;

    header {
      margin-bottom: 0;
    }

    article {
      display: none;
      height: 0;
    }

    &:hover {
      opacity: 1;

      header {
        margin-bottom: $spacer-medium;
      }

      article {
        display: block;
        height: auto;
      }
    }
  }
}
