- @page_title = t('.listing_reports')

%table.reports-list
  %thead
    %tr
      %th= admin_order_by_link t('.name'), 'name'
      %th= admin_order_by_link t('.email'), 'email'
      %th=  t('.user')
      %th= admin_order_by_link t('.allow_contact'), 'allow_contact'
      %th= admin_order_by_link t('.created_at'), 'created_at'
      %th= admin_order_by_link t('.url'), 'url'
      %th=  t('.reason')
      %th

  %tbody
    - @reports.each do |report|
      %tr.report
        %td= report.name
        %td= report.email
        %td= report.user&.username
        %td.is-icon= colored_good_or_bad_icon_tag report.allow_contact
        %td= medium_datetime report.created_at
        %td= link_to report.url, report.url, target: '_blank', rel: 'noopener noreferrer'
        %td= report.reason
        %td.actions
          .btn-group
            = admin_destroy_link 'report', report
