- @page_title = t('.uploads')

%table.uploads-list
  %thead
    %tr
      %th= admin_order_by_link t('.title'), 'title'
      %th= admin_order_by_link t('.sfw'), 'sfw'
      %th= admin_order_by_link t('.pub'), 'published'
      %th= admin_order_by_link t('.lock'), 'locked'
      %th= admin_order_by_link t('.skip_hist'), 'hidden_in_history'
      %th= admin_order_by_link t('.published_at'), 'published_at'
      %th= t('.user')
      %th= t('.license')
      %th= t('.language')
      %th= t('.albums')
      %th= t('.projects')
      %th= t('.tags')
      %th

  %tbody
    - @uploads.each do |upload|
      %tr.upload
        %td= upload.title
        %td.is-icon= colored_good_or_bad_icon_tag upload.sfw
        %td.is-icon= colored_good_or_bad_icon_tag upload.published
        %td.is-icon= colored_good_or_bad_icon_tag upload.locked, 'lock', 'unlock', true
        %td.is-icon= boolean_icon_tag upload.hidden_in_history
        %td= medium_datetime upload.published_at
        %td= upload.user.username
        %td= upload.license.name
        %td= upload.language.name
        %td.relations
          - upload.albums.each do |a|
            %span.album= a.name
        %td.relations
          - upload.projects.each do |p|
            %span.project= p.name
        %td.relations
          - upload.tags.each do |t|
            %span.tag= t.name
        %td.actions
          .btn-group
            = admin_action_links 'upload', upload

= paginate @uploads
