- @page_title = t('.notifications')

- if @notifications.length.zero?
  = render 'member/layouts/empty'
- else
  %table.notifications-list
    %thead
      %tr
        %th
        %th= member_order_by_link t('.date'), 'created_at'
        %th
    %tbody
      - @notifications.each do |notification|
        %tr.notification
          %td.btn-group
            = member_destroy_link('notification', notification, false)
          %td= medium_datetime notification.created_at
          %td
            = notification_icon notification.event
            = notification_message notification

