// NOTE:
// Most of the Knacss vars names are used directly as variable names
// for the application in 'variables.scss'.
// Here are all the Knacss variables with "!default" added at the end
// so they can be overridden.
// Ina ddition, some of the vars here takes values from Elabs vars.
// Config file and project variables

// ----------------
// Breakpoints zone
// ----------------

// Warning: you should use your own values, regardless of the devices
// Best practice is Mobile First: (min-width: $breakpoint)
$tiny        : 480px !default; // or 'em' if you prefer, of course
$small       : 576px !default;
$medium      : 768px !default;
$large       : 992px !default;
$extra-large : 1200px !default;

// ----------
// Fonts zone
// ----------

// Font families
$font-family-base      : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !default; // system font stack
$font-family-headings  : sans-serif !default; // font for h1, h2.. h6
$font-family-monospace : consolas, courier, monospace !default; // font for code and samples

// Font sizes (1.6rem value is "16px" equivalent)
$font-size-base : 1.6rem !default;

$font-sizes: (
  base: (
    mobile  : 1.4rem,
    desktop : $font-size-base
  ),
  h1: (
    mobile  : 2.8rem,
    desktop : 3.2rem
  ),
  h2: (
    mobile  : 2.4rem,
    desktop : 2.8rem
  ),
  h3: (
    mobile  : 2.0rem,
    desktop : 2.4rem
  ),
  h4: (
    mobile  : 1.8rem,
    desktop : 2.0rem
  ),
  h5: (
    mobile  : 1.6rem,
    desktop : 1.8rem
  ),
  h6: (
    mobile  : 1.4rem,
    desktop : 1.6rem
  )
) !default;

// Line heights
$line-height-s    : 1.3 !default;
$line-height-base : 1.5 !default;
$line-height-l    : 1.7 !default;

// Default margin-bottom
$margin-bottom-base     : 1rem !default;
$headings-margin-bottom : $margin-bottom-base /2 !default;
$paragraph-margin-bottom: $margin-bottom-base !default;

// Font weights
$weight-light   : 200 !default;
$weight-book    : 300 !default;
$weight-regular : 400 !default;
$weight-medium  : 500 !default;
$weight-bold    : 700 !default;

// Activate hyphenation on small screens
$hyphens: false !default;

// ------------
// Spacing zone
// ------------

// Number of grid-columns
$cols: 12;

// Grid gutters (for .has-gutter-* classes)
$grid-gutters: (
  '': 1rem,
  '-l': 2rem,
  '-xl': 4rem
) !default;

// Spacings
$spacer-tiny             : .5rem  !default;
$spacer-tiny-plus        : .7rem !default;
$spacer-small            : 1rem !default;
$spacer-small-plus       : 1.5rem !default;
$spacer-medium           : 2rem !default;
$spacer-medium-plus      : 3rem !default;
$spacer-large            : 4rem !default;
$spacer-large-plus       : 6rem !default;
$spacer-extra-large      : 8rem !default;
$spacer-extra-large-plus : 12rem !default;
$spacer-ultra-large      : 16rem !default;
$spacer-ultra-large-plus : 20rem !default;

// z-indexes
$zindex-navigation   : 1000 !default;
$zindex-dropdown     : 2000 !default;
$zindex-popover      : 3000 !default;
$zindex-tooltip      : 4000 !default;
$zindex-modal        : 5000 !default;
$zindex-notification : 6000 !default;
$zindex-debug        : 7000 !default;

// ----------
// Color zone
// ----------

// Color names - Overriden with Elabs vars
$white    : $color-white;
$gray-100 : $color-grey-100;
$gray-200 : $color-grey-200;
$gray-300 : $color-grey-300;
$gray-400 : $color-grey-400;
$gray-500 : $color-grey-500;
$gray-600 : $color-grey-600;
$gray-700 : $color-grey-700;
$gray-800 : $color-grey-800;
$gray-900 : $color-grey-900;
$black    : $color-black;

$blue-300   : $color-blue-300;
$blue-500   : $color-blue-500;
$green-500  : $color-green-500;
$orange-500 : $color-orange-500;
$red-500    : $color-red-500;

// Semantic colors
$color-brand    : $green-500 !default;
$color-primary  : $blue-500 !default;
$color-success  : $green-500 !default;
$color-info     : $blue-300 !default;
$color-warning  : $orange-500 !default;
$color-danger   : $red-500 !default;
$color-inverse  : $gray-800 !default;
$color-ghost    : transparent !default;
$color-muted    : $gray-200 !default;

$color-base      : $color-base;
$background-base : $color-background-base;

$forms-color     : $form-input-color;

// ---------------
// Components zone
// ---------------

// Component: links
$link-color            : $gray-800 !default;
$link-color-hover      : darken($link-color, 15%) !default;
$link-decoration       : underline !default;
$link-decoration-hover : underline !default;

// Global border-radius
$border-radius: 0 !default;

// Component: quotes
$quote-color     : $gray-200 !default;

// Component: arrows
$arrow-color     : $black !default;

// Components: checkboxes, radios, switches
$checkbox-color: $white !default;
$checkbox-background: $gray-800 !default;
$checkbox-size: 2rem !default;
$checkbox-border-radius: 4px !default;
$radio-color: $gray-800 !default;
$radio-background: $white !default;
$switch-color: $white !default;
$switch-background: $gray-800 !default;
$switch-size: 2rem !default;
$switch-border-radius: 3em !default;

// Component: tables
$table-border               : $gray-500 !default;
$table-caption-color        : $gray-800 !default;
$table-background           : transparent !default;
$table-head-color           : $color-base !default;
$table-head-background      : transparent !default;
$table-footer-color         : $color-base !default;
$table-footer-background    : transparent !default;

// Components: buttons, badges, alerts color variants list
// Convention is: name - background-color - color - border
$variants-list: (
  (primary,    $color-primary,    $white,    none),
  (success,    $color-success,    $white,    none),
  (info,       $color-info,       $black,    none),
  (warning,    $color-warning,    $black,    none),
  (danger,     $color-danger,     $white,    none),
  (inverse,    $color-inverse,    $white,    none),
  (ghost,      $color-ghost,      $white,    0 0 0 1px $white inset)
) !default;

// Component: tabs
$tabs-border            : $gray-200 !default;
$tabs-active-border     : $gray-800 !default;
$tabs-color             : $color-base !default;
$tabs-active-color      : $gray-800 !default;
$tabs-background        : transparent !default;
$tabs-active-background : transparent !default;
$tabs-border-radius     : 0 !default;

// Component: nav burger button
$burger-color             : $gray-800 !default;
$burger-background        : transparent !default;
$burger-hover-background  : transparent !default;
$burger-size              : 2.6rem !default;
$burger-weight            : 5px !default; // size of stripes
$burger-padding           : 0 !default;
