// stylelint-disable selector-class-pattern

.CodeMirror {
  border: 1px solid transparent;
  border: {
    bottom: 3px solid $color-grey-300;
    radius: 0;
  }

  &-focused {
    border-color: $color-grey-700;
  }

  // Theme overrides

  &.cm-s-base16-light {
    background-color: $color-background-base;

    .CodeMirror {

      &-gutters {
        background-color: $color-background-base;
      }
    }
  }
}

// stylelint-enable selector-class-pattern
