/* stylelint-disable */
@font-face {
  font-family: license-icons;
  font-style: normal;
  font-weight: 400;
  src: url("#{$licenses-font-path}/license-icons.eot");
  src:
    url("#{$licenses-font-path}/license-icons.eot?#iefix") format("embedded-opentype"),
    url("#{$licenses-font-path}/license-icons.woff2") format("woff2"),
    url("#{$licenses-font-path}/license-icons.woff") format("woff"),
    url("#{$licenses-font-path}/license-icons.ttf") format("truetype"),
    url("#{$licenses-font-path}/license-icons.svg#license-icons") format("svg");
}

%li {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 12px/1 license-icons;
    font-size: 1.3em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    vertical-align: -15%;
}

.li {
    @extend %li;
}

.li-lg {
    vertical-align: -15%;
    line-height: 0.75em;
    font-size: 1.33333333em;
}

.li-2x {
    font-size: 2em;
}

.li-3x {
    font-size: 3em;
}

.li-4x {
    font-size: 4em;
}

.li-5x {
    font-size: 5em;
}

.li-fw {
    width: 1.28571429em;
    text-align: center;
}

.li-agpl::before {
  content: "\ea01";
}

.li-apache::before {
  content: "\ea02";
}

.li-artistic::before {
  content: "\ea03";
}

.li-bsd::before {
  content: "\ea04";
}

.li-cc::before {
  content: "\ea05";
}

.li-cc-0::before {
  content: "\ea06";
}

.li-cc-pd::before {
  content: "\ea07";
}

.li-copyright::before {
  content: "\ea08";
}

.li-gpl::before {
  content: "\ea09";
}

.li-lgpl::before {
  content: "\ea0a";
}

.li-mit::before {
  content: "\ea0b";
}

.li-mpl::before {
  content: "\ea0c";
}

.li-whitespace::before {
  content: "\ea0d";
}

.li-wtfpl::before {
  content: "\ea0e";
}

/* stylelint-enable */
