@mixin font-def($name, $file, $weight) {
  @font-face {
    font-family: '#{$name}';
    font-style: normal;
    font-weight: $weight;
    src:
      url('#{$opensans-font-path}/#{$file}.woff2') format('woff2'),
      url('#{$opensans-font-path}/#{$file}.woff') format('woff');
  }
}
@include font-def('Open Sans', 'OpenSans-Light', 200);
@include font-def('Open Sans', 'OpenSans-Regular', 400);
@include font-def('Open Sans', 'OpenSans-SemiBold', 500);
@include font-def('Open Sans', 'OpenSans-Bold', 700);
