// Font paths, to be overridden in style guide
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts' !default;
$opensans-font-path: '~opensans-webkit/fonts' !default;
$licenses-font-path: '~licenses-fonticon/fonts' !default;

// Note:
// All inclusions from node module should be relative to the file
// making the inclusion. If "~package/..." is used, style won't compile
// in style guide.

/* ------------------
   Elabs variables
------------------ */
@import 'fonts';
@import 'lib/colors_reference';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/variables';
@import 'variables';

/* ------------------
   Libraries
------------------ */
@import 'lib/knacss/knacss_variables';
@import 'lib/knacss/knacss';
@import 'lib/fontawesome/fonts';
@import 'lib/fontawesome/fontawesome';
@import 'lib/license_icons';
@import 'lib/codemirror';
@import 'lib/hljs';

// Mixins -----------------------------
@import 'app/mixins/classifier_card';
@import 'app/mixins/content_card';
@import 'app/mixins/content_full';
@import 'app/mixins/content_inline';
@import 'app/mixins/icon';

/* ------------------
   Elabs elements
------------------ */

// Helpers (to be extended) -----------
@import 'app/helpers/cards';
@import 'app/helpers/containers';
@import 'app/helpers/states';
@import 'app/helpers/typo';

// App elements -----------------------
@import 'app/elements/alerts';
@import 'app/elements/badges';
@import 'app/elements/buttons';
@import 'app/elements/dropdowns';
@import 'app/elements/empty';
@import 'app/elements/errors';
@import 'app/elements/filter_link';
@import 'app/elements/fixed_links';
@import 'app/elements/forms';
@import 'app/elements/icons';
@import 'app/elements/medias';
@import 'app/elements/modals';
@import 'app/elements/nsfw';
@import 'app/elements/pagination';
@import 'app/elements/tables';
@import 'app/elements/tabs';

// App layouts ------------------------
@import 'app/layouts/acts';
@import 'app/layouts/classifiers';
@import 'app/layouts/comments';
@import 'app/layouts/devise';
@import 'app/layouts/layout';
@import 'app/layouts/page';
@import 'app/layouts/page_content';
@import 'app/layouts/page_footer';
@import 'app/layouts/page_header';
@import 'app/layouts/page_menu';
@import 'app/layouts/page_messages';
@import 'app/layouts/private_layout';
@import 'app/layouts/typo';

// App components ---------------------
@import 'app/components/act';
@import 'app/components/announcement';
@import 'app/components/classifier_types';
@import 'app/components/comment';
@import 'app/components/content_relations';
@import 'app/components/content_statuses';
@import 'app/components/content_types';
@import 'app/components/git_cards';
@import 'app/components/home';

// Fixes ------------------------------
@import 'fixes';
