= form_for preference, url: member_update_preferences_path, method: :put do |f|
  - if preference.errors.any?
    .error
      %h2= t('.save_error', count: preference.errors.count)
      %ul
        - preference.errors.full_messages.each do |message|
          %li= message

  %h2= t('.navigation_preferences')

  .field
    .field-input
      = f.check_box :show_nsfw
      = f.label :show_nsfw, t('activerecord.attributes.preference.show_nsfw')
  .field
    = f.label :locale, t('activerecord.attributes.preference.locale')
    .field-input= f.collection_select(:locale, Language.available_site_translations, :iso639_1, :name)

  %h2= t('.writing_preferences')

  .field
    = f.label :writing_language, t('activerecord.attributes.preference.writing_language')
    .field-input= language_selector f, :writing_language_id
  .field
    = f.label :writing_license, t('activerecord.attributes.preference.writing_license')
    .field-input= license_selector f, :writing_license_id

  %h2= t('.email_notifications')

  .field
    .field-input
      = f.check_box :receive_comment_notifications
      = f.label :receive_comment_notifications,
                t('activerecord.attributes.preference.receive_comment_notifications')
  .field
    .field-input
      = f.check_box :receive_content_notifications
      = f.label :receive_content_notifications,
                t('activerecord.attributes.preference.receive_content_notifications')
  .field
    .field-input
      = f.check_box :receive_admin_notifications
      = f.label :receive_admin_notifications,
                t('activerecord.attributes.preference.receive_admin_notifications')

  .actions
    .actions-buttons
      = f.submit 'Save', class: 'btn btn--save'
