- @page_title = t('.users')

%table.users-list
  %thead
    %tr
      %th= admin_order_by_link t('.username'), 'username'
      %th= admin_order_by_link t('.role'), 'role'
      %th= admin_order_by_link t('.since'), 'created_at'
      %th= t('.active')
      %th= t('.pass_reset')
      %th= admin_order_by_link t('.album_count'), 'albums_count'
      %th= admin_order_by_link t('.article_count'), 'articles_count'
      %th= admin_order_by_link t('.note_count'), 'notes_count'
      %th= admin_order_by_link t('.project_count'), 'projects_count'
      %th= admin_order_by_link t('.upload_count'), 'uploads_count'
      %th

  %tbody
    - @users.each do |user|
      %tr.user
        %td= user.username
        %td= user.role
        %td= medium_datetime user.created_at
        %td.is-icon= colored_good_or_bad_icon_tag user.confirmed_at.present?
        %td.is-icon= colored_good_or_bad_icon_tag user.reset_password_sent_at.present?
        %td.is-counter= user.albums_count
        %td.is-counter= user.articles_count
        %td.is-counter= user.notes_count
        %td.is-counter= user.projects_count
        %td.is-counter= user.uploads_count
        %td.actions
          .btn-group
            = show_online_link user
            = admin_show_link 'user', user
            = admin_destroy_link 'user', user

= paginate @users
