- @page_title = @user.real_name || @user.username

.page__actions
  = link_to t('.show_online'), @user, class: 'btn btn--show'
  = link_to t('.destroy'),
              admin_user_path(@user),
              method: :delete,
              data: { confirm: t('.are_you_sure') },
              class: 'btn btn--destroy'

%ul
  %li
    %strong= t('.username')
    = @user.username
  %li
    %strong= t('.email')
    = link_to @user.email, "mailto:#{@user.email}"
  %li
    %strong= t('.real_name')
    = @user.real_name
  %li
    %strong= t('.subscription_date')
    = medium_datetime @user.created_at

%dt= t('.bio')
= render_entity_content @user, :biography
