= form_for article, url: article.id ? member_article_path : member_articles_path do |f|
  - if article.errors.any?
    .error
      %h2= t('.save_error', count: article.errors.count)
      %ul
        - article.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :title
    .field-input= f.text_field :title
  .field
    = f.label :excerpt
    .field-input
      = f.text_area :excerpt
      .field-hint= t('.markdown_preview_html',
                      preview_button: content_tag('a',
                        t('.preview'),
                        href: '#',
                        onclick: 'mdPreviewExcerpt(event)'))
  .field
    = f.label :content
    .field-input
      = f.text_area :content
      .field-hint= t('.markdown_preview_html',
                      preview_button: content_tag('a',
                        t('.preview'),
                        href: '#',
                        onclick: 'mdPreviewContent(event)'))

  = render 'member/layouts/form_commons', form: f, entity: article

= render 'member/layouts/markdown-preview'

:javascript
  excerptCM = initializeCodeMirrorIn(document.getElementById('article_excerpt'))
  excerptCM.setOption('maxLength', 255)
  excerptCM.on('beforeChange', limitCMToLength)
  contentCM = initializeCodeMirrorIn(document.getElementById('article_content'))
  var mdPreviewExcerpt = createMDPreviewer(excerptCM)
  var mdPreviewContent = createMDPreviewer(contentCM)
