- @page_title = t('.articles')

.page__actions
  = link_to t('.new_article'), new_member_article_path, class: 'btn btn--new'

- if @articles.length.zero?
  = render 'member/layouts/empty', link: new_member_article_path
- else
  %table.articles-list
    %thead
      %tr
        %th= member_order_by_link t('.title'), 'title'
        %th= member_order_by_link t('.sfw'), 'sfw'
        %th= member_order_by_link t('.pub'), 'published'
        %th= member_order_by_link t('.lock'), 'locked'
        %th= member_order_by_link t('.skip_hist'), 'hidden_in_history'
        %th= member_order_by_link t('.published_at'), 'published_at'
        %th= t('.license')
        %th= t('.language')
        %th= t('.projects')
        %th= t('.tags')
        %th

    %tbody
      - @articles.each do |article|
        %tr.article
          %td= article.title
          %td.is-icon= colored_good_or_bad_icon_tag article.sfw
          %td.is-icon= colored_good_or_bad_icon_tag article.published
          %td.is-icon= colored_good_or_bad_icon_tag article.locked, 'lock', 'unlock', true
          %td.is-icon= boolean_icon_tag article.hidden_in_history
          %td= medium_datetime article.published_at
          %td
            = license_icon article.license
            = article.license.name
          %td= article.language.name
          %td.relations
            - article.projects.each do |p|
              %span.project= p.name
          %td.relations
            - article.tags.each do |t|
              %span.tag= t.name
          %td
            .btn-group
              = member_action_links 'article', article

  = paginate @articles
