.upload__preview
  .preview
    .upload__title= upload.title
    - if !show_item? upload
      = image_tag '/assets/preview_placeholder_nsfw.png', class: 'upload-object'
    - else
      = link_to upload_url(upload) do
        = image_tag thumbnail_center_crop(upload.file), class: 'upload-object'
    .content
      = link_to url_for(upload.file), class: 'btn btn--block btn--primary' do
        %i.fa.fa-fw.fa-download
        = t('.download')
        (#{upload.file.content_type})
