- if !show_item? upload
  = render 'layouts/hidden_entry_inline', entity: upload
- else
  %span.upload.upload--inline
    = image_tag thumbnail_center_crop(upload.file, :small), class: 'icon'
    = link_to upload.title, upload
    - if upload.language.iso639_1 != locale
      (#{upload.language.iso639_1})
