- if !show_item? @upload
  - @page_title = t('.content_not_displayed')
  = render 'layouts/hidden_entry_full', entity: @upload
- else
  - @page_title = @upload.title
  .upload.upload--full
    %aside.details
      - content_for :full_details_additions do
        %li.detail
          = icon 'title'
          %strong= t('.original_name')
          = @upload.file.filename
        %li.detail
          = icon 'mime-type'
          %strong= t('.mime_type')
          = @upload.file.content_type

      - content_for :full_details_buttons do
        %li.separator.detail
          -# rubocop:disable Rails/LinkToBlank
          = link_to url_for(@upload.file), class: 'btn btn--download btn--block', target: '_blank' do
            = icon 'download'
            = t('.download')
          -# rubocop:enable Rails/LinkToBlank
      = render 'layouts/content_full_details', entity: @upload

    .content
      %article{ lang: @upload.language.iso639_1 }
        = render_entity_content @upload, :description
        - if playable? @upload.file
          = render 'player', file: @upload.file
        - elsif @upload.file.representable?
          = image_tag url_for(@upload.file.representation(image_resize_properties(:large)).processed),
             class: 'thumbnail'
        - else
          = image_tag url_for(thumbnail_preview_placeholder_file), class: 'thumbnail'

  = render 'comments/comments',
            entity: @upload,
            new_comment: @new_comment,
            url: upload_create_comment_path(@upload)
