- @page_title = t('.change_your_password')

.devise
  .devise__form
    .devise__form__wrapper
      = form_for(resource, as: resource_name,
          url: { controller: 'auth/passwords', action: 'update' }, html: { method: :put }) do |f|
        - if resource.errors.any?
          .error
            %h2= t('.change_error', count: resource.errors.count)
            %ul
              - resource.errors.full_messages.each do |message|
                %li= message

        = f.hidden_field :reset_password_token

        .field
          = f.label :password, t('.new_password')
          .field-input
            = f.password_field :password, autofocus: true, autocomplete: 'off'
            - if @minimum_password_length
              .field-hint= t('.number_characters_minimum', number: @minimum_password_length)
        .field
          = f.label :password_confirmation, t('.confirm_new_password')
          .field-input= f.password_field :password_confirmation, autocomplete: 'off'
        .actions
          = f.submit t('.change_my_password'), class: 'btn btn--primary btn--block'

  = render 'auth/shared/links'
