= form_for album, url: album.id ? member_album_path : member_albums_path do |f|
  - if album.errors.any?
    .error
      %h2= t('.save_error', count: album.errors.count)
      %ul
        - album.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    .field-input= f.text_field :name

  .field
    = f.label :description
    .field-input
      = f.text_area :description
      .field-hint= t('.markdown_preview_html',
                      preview_button: content_tag('a',
                        t('.preview'),
                        href: '#',
                        onclick: 'mdPreviewContent(event)'))

  = render 'member/layouts/form_commons', form: f, entity: album, has_uploads: true

= render 'member/layouts/markdown-preview'

:javascript
  var cm = initializeCodeMirrorIn(document.getElementById('album_description'))
  var mdPreviewContent = createMDPreviewer(cm)

