- @page_title = t('.albums')

.page__actions
  = link_to t('.new_album'), new_member_album_path, class: 'btn btn--new'

- if @albums.length.zero?
  = render 'member/layouts/empty', link: new_member_album_path
- else
  %table.albums-list
    %thead
      %tr
        %th= member_order_by_link t('.name'), 'name'
        %th= member_order_by_link t('.sfw'), 'sfw'
        %th= member_order_by_link t('.pub'), 'published'
        %th= member_order_by_link t('.lock'), 'locked'
        %th= member_order_by_link t('.skip_hist'), 'hidden_in_history'
        %th= member_order_by_link t('.published_at'), 'published_at'
        %th= t('.language')
        %th= t('.license')
        %th= member_order_by_link t('.uploads'), 'uploads_count'
        %th= t('.projects')
        %th= t('.tags')
        %th

    %tbody
      - @albums.each do |album|
        %tr.album
          %td= album.name
          %td.is-icon= colored_good_or_bad_icon_tag album.sfw
          %td.is-icon= colored_good_or_bad_icon_tag album.published
          %td.is-icon= colored_good_or_bad_icon_tag album.locked, 'lock', 'unlock', true
          %td.is-icon= boolean_icon_tag album.hidden_in_history
          %td= medium_datetime album.published_at
          %td= album.language.name
          %td
            = license_icon album.license
            = album.license.name
          %td.is-counter= album.uploads_count
          %td.relations
            - album.projects.each do |p|
              %span.project= p.name
          %td.relations
            - album.tags.each do |t|
              %span.tag= t.name
          %td
            .btn-group
              = member_action_links 'album', album

  = paginate @albums
