= form_for user, url: member_update_infos_path, method: :put do |f|
  - if user.errors.any?
    .error
      %h2= t('.update_error', count: user.errors.count)
      %ul
        - user.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :real_name
    .field-input= f.text_field :real_name

  .field
    = f.label :biography
    .field-input
      = f.text_area :biography
      .field-hint= t('.markdown_preview_html',
                          preview_button: content_tag('a',
                            t('.preview'),
                            href: '#',
                            onclick: 'mdPreviewBiography(event)'))

  .field
    = f.label :avatar
    .field-input
      = f.file_field :avatar
      .field-hint= t('.picture_help')

  .actions
    .actions-buttons
      = f.submit t('.save'), class: 'btn btn--save'

= render 'member/layouts/markdown-preview'

:javascript
  var biographyCM = initializeCodeMirrorIn(document.getElementById('user_biography'))
  var mdPreviewBiography = createMDPreviewer(biographyCM)
