= form_for new_report, url: create_report_path do |f|
  - if new_report.errors.any?
    .error
      %h2= t('.save_error', count: report.errors.count)
      %ul
        - new_report.errors.full_messages.each do |message|
          %li= message

  - if user_signed_in?
    %p= t('.posted_as_name', name: current_user.username)
    %p= t('.agree_to_be_recontacted')
  - else
    .field
      = f.label :name
      .field-input= f.text_field :name
    .field
      = f.label :email
      .field-input= f.text_field :email
    .field
      = f.label :allow_contact
      .field-input= f.check_box :allow_contact
  .field
    = f.label :reason
    .field-input= f.text_area :reason

  = render 'layouts/form_honeypot', field: 'body'

  .actions
    .actions-buttons
      = f.submit t('.save'), class: 'btn btn--save'
