%ul
  %li.separator
    %ul
      %li.detail
        = icon 'user'
        %strong= t('.author')
        = link_to entity.user.display_name, entity.user
      %li.detail
        = icon 'calendar-check'
        %strong= t('.published_at')
        = medium_datetime entity.published_at
      %li.detail
        = icon 'calendar'
        %strong= t('.updated_at')
        = medium_datetime entity.updated_at
      - if content_for? :full_details_additions
        = content_for :full_details_additions

  %li.separator
    %ul
      %li.detail
        = icon 'info'
        %strong= t('.sfw')
        = boolean_icon_tag entity.sfw, 'is-sfw', 'is-nsfw'
      %li.detail
        = icon 'license'
        %strong= t('.license')
        = link_to entity.license do
          = license_icon entity.license
          = entity.license.name
      %li.detail
        = icon 'language'
        %strong= t('.language')
        = link_to entity.language.name, entity.language

    %li.separator
      %ul
        - if entity.respond_to? :albums_count
          %li.detail
            = icon 'amount'
            %strong= t('.albums_count')
            = entity.albums_count

        - if entity.respond_to? :articles_count
          %li.detail
            = icon 'amount'
            %strong= t('.articles_count')
            = entity.articles_count

        - if entity.respond_to? :notes_count
          %li.detail
            = icon 'amount'
            %strong= t('.notes_count')
            = entity.notes_count

        - if entity.respond_to? :uploads_count
          %li.detail
            = icon 'amount'
            %strong= t('.uploads_count')
            = entity.uploads_count

        - if entity.respond_to? :public_projects
          %li.detail= render 'layouts/content_classifiers_lists/projects', projects: entity.public_projects

        - if entity.respond_to? :public_albums
          %li.detail= render 'layouts/content_classifiers_lists/albums', albums: entity.public_albums

        %li.separator.detail= render 'layouts/content_classifiers_lists/tags', tags: entity.tags

    - if content_for? :full_details_buttons
      = content_for :full_details_buttons

    = render 'layouts/content_download_sources', entity: entity

