- entity_type = entity.class.table_name.singularize
- hide_author ||= false

- if !show_item? entity
  = render 'layouts/hidden_entry', entity: entity
- else
  %div{ class: "#{entity_type} #{entity_type}-card" }
    %header
      .header
        %h3.title{ lang: entity.language.iso639_1 }
          - if entity.respond_to?(:logo) && entity.logo.attached?
            = image_tag avatar_image(entity.logo, :small), class: :logo
          - else
            %span.logo
              = content_type_icon_from_entity entity
          = link_to entity.title_to_display, entity
        - unless hide_author
          .subtitle= t('.by_name_html', name: link_to(entity.user.display_name, entity.user))

      %ul.information
        %li
          = icon 'language'
          %strong= t('.language')
          = link_to entity.language.name, entity.language
        %li
          = icon 'license'
          %strong= t('.license')
          = link_to entity.license do
            = license_icon entity.license
            = entity.license.name
        %li
          = icon 'calendar-check'
          %strong= t('.pub_date')
          = medium_datetime entity.published_at
        %li
          = icon 'info'
          %strong= t('.sfw')
          = boolean_icon_tag entity.sfw, 'is-sfw', 'is-nsfw'
        - if entity.respond_to? :public_projects
          %li= render 'layouts/content_classifiers_lists/projects', projects: entity.public_projects
        - if entity.respond_to? :tags
          %li= render 'layouts/content_classifiers_lists/tags', tags: entity.tags
        - if entity.respond_to? :public_albums
          %li= render 'layouts/content_classifiers_lists/albums', albums: entity.public_albums

    - if entity.short_text_to_display.present?
      %article{ lang: entity.language.iso639_1 }= render_entity_content entity, :short_text_to_display, false
    - if entity.class.name == 'Album'
      = render 'albums/card_content', album: entity
    - if entity.class.name == 'Upload'
      = render 'uploads/thumbnail', upload: entity
