:ruby
  is_section = false if is_section.nil?
  content_block ||= nil
  content_block_title ||= t('.content')
  first_tab = :activity
  first_tab_with_content = content_block ? 'content' : nil

%aside.tabs{ class: is_section ? 'is-section' : '' }
  %ul.tabs__tabs-list
    - if content_block
      %li.tabs__tabs-list__tab#tab-content
        %a{ href: '#tab-content-content', onclick: "selectTab(event, 'content')" }
          = content_block_title
    - content_association_order.each do |type|
      - if entity.respond_to?(type)
        %li.tabs__tabs-list__tab{ id: "tab-#{type}" }
          %a{ href: "#tab-content-#{type}", onclick: "selectTab(event, '#{type}')" }
            = human_model_name(type, 2)
            %span.badge= entity.send "#{type}_count"

  - if content_block
    %section.tabs__tab-content#tab-content-content
      = content_for content_block
  - content_association_order.each do |type|
    - if entity.respond_to?(type)
      - first_tab ||= type
      %section{ class: "tabs__tab-content #{type}-list", id: "tab-content-#{type}" }
        .tabs__tab-content__title
          %h2= t(".last_n_#{type}", amount: Rails.configuration.elabs.max_related_items)
          .actions= related_content_show_all_link entity.send("#{type}_count"), entity_nested_resource_url(entity, type)

        - if entity.send("#{type}_count").zero?
          = render 'layouts/empty'
        - else
          - first_tab_with_content ||= type
          - entity.send(type).for_relation.each do |entry|
            = render_content_card entry

:javascript
  initializeTabs ()
  selectTab('#{first_tab_with_content || first_tab}')
