- can_report = false if can_report.nil?

%a.fixed-link.to-top{ href: '#top' }
  = icon 'arrow-up', ['2x']

- if can_report
  %a.fixed-link.to-report{ href: '#', onclick: 'openModal(event, "report-modal")' }
    = icon 'flag', ['2x']

%footer.page__footer
  .page__footer__content
    %header
      &copy; 2018 - #{Rails.configuration.elabs.site_name}
    .rss-links
      = icon_text('.rss', t('.rss'))
      = link_to t('.activity'), activities_url(format: :rss, show_nsfw: show_nsfw?)
      = link_to t('.albums'), albums_url(format: :rss, show_nsfw: show_nsfw?)
      = link_to t('.articles'), articles_url(format: :rss, show_nsfw: show_nsfw?)
      = link_to t('.notes'), notes_url(format: :rss, show_nsfw: show_nsfw?)
      = link_to t('.projects'), projects_url(format: :rss, show_nsfw: show_nsfw?)
      = link_to t('.uploads'), uploads_url(format: :rss, show_nsfw: show_nsfw?)
      = link_to t('.links'), links_url(format: :rss, show_nsfw: show_nsfw?)
