- if Rails.configuration.elabs.trap_dumb_bots
  .field.field--trap{ id: "form-#{field}" }
    %label{ id: "form-#{field}-label", for: 'form-body-field' }= t('.body')
    .field-input
      %textarea{ id: "form-#{field}-field", name: 'body' }
      .field-hint= t('.robot_field_help')

  :javascript
      documentReady(function(){
        document.getElementById('form-#{field}').style.display = 'none';
        document.getElementById('form-#{field}-label').innerText= "#{t('.robot_area')}"
      })
