%header.page__menu
  .page__menu__title
    = link_to root_path, class: 'brand_link menu_entry' do
      = image_tag 'logo.png', class: 'page__menu__logo'
      = Rails.configuration.elabs.site_name
    %a.menu_entry.menu_button.menu_button--for-tiny{ href: '#', onclick: 'toggleSecondaryMenu()' }= icon 'menu'

  .page__menu__group
    = active_link_to projects_path, class: 'menu_entry' do
      = icon 'projects', ['icon']
      = t('.projects')
    = active_link_to users_path, class: 'menu_entry' do
      = icon 'users', ['icon']
      = t('.authors')
    = active_link_to licenses_path, class: 'menu_entry' do
      = icon 'license', ['icon']
      = t('.licenses')
    = active_link_to tags_path, class: 'menu_entry' do
      = icon 'tags', ['icon']
      = t('.tags')
    = active_link_to activities_path, class: 'menu_entry' do
      = icon 'activity', ['icon']
      = t('.activity')

    .menu_entry.dropdown
      %a{ href: '#' }
        = icon 'ellipsis-h'
      .dropdown__menu.dropdown__menu--right
        = active_link_to articles_path, class: 'menu_entry' do
          = icon 'article', ['icon']
          = t('.articles')
        = active_link_to notes_path, class: 'menu_entry' do
          = icon 'note', ['icon']
          = t('.notes')
        = active_link_to albums_path, class: 'menu_entry' do
          = icon 'album', ['icon']
          = t('.albums')
        = active_link_to uploads_path, class: 'menu_entry' do
          = icon 'file', ['icon']
          = t('.uploads')
        = active_link_to links_path, class: 'menu_entry' do
          = icon 'link', ['icon']
          = t('.links')
        = active_link_to languages_path, class: 'menu_entry' do
          = icon 'language', ['icon']
          = t('.languages')

  %a.menu_entry.menu_button.menu_button--for-small{ href: '#', onclick: 'toggleSecondaryMenu()' }= icon 'menu'

  .page__menu__group.page__menu__group--secondary#secondary-menu
    %a.close_menu_button{ onclick: 'toggleSecondaryMenu()' }= icon 'times', ['2x']
    %a.menu_entry{ href: url_for(params: { show_nsfw: !show_nsfw? }) }
      = icon show_nsfw? ? 'eye-slash' : 'eye', ['icon']
      = show_nsfw? ? t('.hide_nsfw') : t('.show_nsfw')
    .menu_entry.dropdown
      %a{ href: '#' }
        = icon 'language'
        = t('.language')
      .dropdown__menu
        = render 'layouts/language_menu'
    - unless user_signed_in?
      = active_link_to new_user_session_path, class: 'menu_entry' do
        = icon 'sign-in-alt', ['icon']
        = t('.login')
    - if user_signed_in?
      = render 'layouts/menu_member'
      - if current_user.admin?
        = render 'layouts/menu_admin'
