= active_link_to member_notifications_path, class: 'menu_entry' do
  = icon 'notifications'
  - if notification_count.positive?
    %span.badge.badge--notification= notification_count
  %span.menu_entry_description= t('.notifications')
.menu_entry.dropdown
  %a{ href: '#' }
    = icon 'pen'
    %span.menu_entry_description= t('.your_content')
  .dropdown__menu.dropdown__menu--right
    .has-action
      = active_link_to member_projects_path, class: 'menu_entry' do
        = icon 'projects', ['icon']
        = t('.projects')
      = link_to new_member_project_path, class: 'action' do
        = icon 'plus'
    .has-action
      = active_link_to member_articles_path, class: 'menu_entry' do
        = icon 'article', ['icon']
        = t('.articles')
      = link_to new_member_article_path, class: 'action' do
        = icon 'plus'
    .has-action
      = active_link_to member_notes_path, class: 'menu_entry' do
        = icon 'note', ['icon']
        = t('.notes')
      = link_to new_member_note_path, class: 'action' do
        = icon 'plus'
    .has-action
      = active_link_to member_albums_path, class: 'menu_entry' do
        = icon 'album', ['icon']
        = t('.albums')
      = link_to new_member_album_path, class: 'action' do
        = icon 'plus'
    .has-action
      = active_link_to member_uploads_path, class: 'menu_entry' do
        = icon 'file', ['icon']
        = t('.uploads')
      = link_to new_member_upload_path, class: 'action' do
        = icon 'plus'
    .has-action
      = active_link_to member_links_path, class: 'menu_entry' do
        = icon 'link', ['icon']
        = t('.links')
      = link_to new_member_link_path, class: 'action' do
        = icon 'plus'
.menu_entry.dropdown
  %a{ href: '#' }
    = icon 'user'
    %span.menu_entry_description= t('.you')
  .dropdown__menu.dropdown__menu--right
    = active_link_to member_edit_infos_path, class: 'menu_entry is-separator' do
      = icon 'info', ['icon']
      = t('.infos')
    = active_link_to member_edit_preferences_path, class: 'menu_entry' do
      = icon 'sliders-h', ['icon']
      = t('.preferences')
    = active_link_to edit_user_registration_path, class: 'menu_entry' do
      = icon 'pen', ['icon']
      = t('.account')
    = active_link_to destroy_user_session_path, method: :delete, class: 'menu_entry' do
      = icon 'sign-out-alt', ['icon']
      = t('.log_out')
