.menu_entry.dropdown
  %a{ href: '#' }
    = icon 'admin'
    %span.menu_entry_description= t('.administration')
  .dropdown__menu.dropdown__menu--right
    = active_link_to admin_projects_path, class: 'menu_entry' do
      = icon 'projects', ['icon']
      = t('.projects')
    = active_link_to admin_articles_path, class: 'menu_entry' do
      = icon 'article', ['icon']
      = t('.articles')
    = active_link_to admin_notes_path, class: 'menu_entry' do
      = icon 'note', ['icon']
      = t('.notes')
    = active_link_to admin_albums_path, class: 'menu_entry' do
      = icon 'album', ['icon']
      = t('.albums')
    = active_link_to admin_uploads_path, class: 'menu_entry' do
      = icon 'file', ['icon']
      = t('.uploads')
    = active_link_to admin_links_path, class: 'menu_entry' do
      = icon 'link', ['icon']
      = t('.links')

    = active_link_to admin_tags_path, class: 'menu_entry is-separator' do
      = icon 'tags', ['icon']
      = t('.tags')
    = active_link_to admin_languages_path, class: 'menu_entry' do
      = icon 'language', ['icon']
      = t('.languages')
    = active_link_to admin_licenses_path, class: 'menu_entry' do
      = icon 'license', ['icon']
      = t('.licenses')

    = active_link_to admin_users_path, class: 'menu_entry is-separator' do
      = icon 'users', ['icon']
      = t('.users')
    = active_link_to admin_reports_path, class: 'menu_entry' do
      = icon 'flag', ['icon']
      = t('.reports')
    = active_link_to admin_announcements_path, class: 'menu_entry' do
      = icon 'announcement', ['icon']
      = t('.announcements')
