!!!
%html{ lang: locale }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %meta{ name: 'viewport',
           content: 'width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'ie=edge' }
    = csrf_meta_tags
    = csp_meta_tag
    %title= page_title(@page_title)
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = render 'layouts/favicons'
    = auto_discovery_link_tag :rss, albums_url(format: :rss, show_nsfw: show_nsfw?)
    = auto_discovery_link_tag :rss, articles_url(format: :rss, show_nsfw: show_nsfw?)
    = auto_discovery_link_tag :rss, notes_url(format: :rss, show_nsfw: show_nsfw?)
    = auto_discovery_link_tag :rss, projects_url(format: :rss, show_nsfw: show_nsfw?)
    = auto_discovery_link_tag :rss, uploads_url(format: :rss, show_nsfw: show_nsfw?)
  %body.page#top
    = render 'layouts/menu'

    .page__wrapper

      %noscript
        .alert.alert--warning
          = t('.disabled_js')

      = render 'layouts/announcements'

      - if @page_title || render_filters? || content_for?(:page_header)
        .page__header

          - if @page_title # This variable should be set in views (or controllers)
            %h1.page__header__title= @page_title
          - if content_for? :page_header
            = content_for :page_header

          - if render_filters?
            .page__header__actions
              %a.page__header__actions_button{ href: '#' }
                = icon 'filter'
              = render "#{controller_name}/filters"

      = render 'layouts/flash_messages'

      .page__content
        .page__content__container
          = yield

    .modal#report-modal
      .modal__overlay{ onclick: 'closeModal("report-modal")' }
      .modal__window
        .modal__window__title
          %h1= t('.report_this_page')
          .modal__close-button
            %i.fa.fa-times{ onclick: 'closeModal("report-modal")' }
        .modal__window__content
          = render 'reports/form', new_report: @new_report

    = render 'layouts/footer', can_report: true

  -# Widget templates
  = render 'layouts/shortcodes/widgets/vue/all_widgets'
