!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }/
    %meta{ name: 'viewport',
           content: 'width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'ie=edge' }
    = csrf_meta_tags
    = csp_meta_tag
    %title= page_title(@page_title, t('.member'))
    = stylesheet_pack_tag 'application_member', media: 'all'
    = javascript_pack_tag 'application_member'
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = render 'layouts/favicons'
  %body.page.page--member
    = render 'layouts/menu'

    .page__wrapper

      %noscript
        .alert.alert--warning
          = t('.disabled_js')

      .screen_size_warning= t('.use_a_real_device')

      .page__header

        - if @page_title # This variable should be set in views (or controllers)
          %h1.page__header__title= @page_title

      = render 'layouts/flash_messages'

      .page__content
        .page__content__container
          = yield

    = render 'layouts/footer'

  -# Widget templates
  = render 'layouts/shortcodes/widgets/vue/all_widgets'
