- @page_title = t('.last_events')
.acts-list
  - previous_date = nil
  - @acts.each do |act|
    - unless same_day?(previous_date, act.created_at)
      .date= date_time_to_date(act.created_at)
    .act
      .act__time= date_time_to_time(act.created_at)
      .act__content
        - if act.event == 'publish'
          = render_content_card(act.content)
        - else
          %div{ class: "act-status act-status--#{act.event}" }
            = act_notice_string act
            - if act.reason.present?
              %q= act.reason

        - previous_date = act.created_at

= paginate @acts
